  <div class="container" id="resume">
    <h1 class="text-center page-header">Resume</h1>
    <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
        <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.resumeInstruction}}
    </p>
    <br><br>
    <div class="row" id="resume-row">

      <div class="col-xs-12 col-sm-6" ng-if="$ctrl.editing || $ctrl.images.resumeImage1[0]">
        <img imgcrop-modal page-id="{{::$ctrl.pageId}}" ideal-size="520x670" tag="resumeImage1" ng-model="$ctrl.images.resumeImage1[0]" outputwidth=1200 instruction-header="{{::$ctrl.placeholdertext.resumeHeader}}">
      </div>
      <div class="col-xs-12" id="resume-wrap" ng-class="!$ctrl.editing && !$ctrl.images.resumeImage1[0] ? 'col-sm-8 col-sm-offset-2' : 'col-sm-6'">
          <img imgcrop-modal page-id="{{::$ctrl.pageId}}"  ideal-size="520x670" tag="resumeImage2" ng-model="$ctrl.images.resumeImage2[0]" outputwidth=1200 instruction-header="{{::$ctrl.placeholdertext.resumeHeader}}">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title text-center">
        <p class="text-center margin-20">
          <p ng-if="$ctrl.editing" class="alert alert-info pro-tip"><i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.resumeInstruction2}}</p>
          <linky accept="application/pdf" class="linky" page-id="{{::$ctrl.pageId}}"  type="a" ng-model="$ctrl.components.resumeFile[0]" tag="resumeFile" text="Click Here to Download Resume"></linky>
        </p>
        <!-- <ng-include src="'/public/performance/partials/resumeFileFormats.html'"></ng-include> -->
      </div>
    </div>
  </div>
