#resume img {
  width: 100%;
}

#resume .download-buttons {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #resume .download-buttons button:not(:last-of-type) {
    margin-right: 25px; }

@media screen and (max-width: 767px) {
  #resume .download-buttons {
    flex-direction: column;
  }

  #resume .download-buttons button {
    width: 100%;
    margin: 10px 0;
  }

  #resume .download-buttons button:not(:last-of-type) {
    margin-right: 0;
  }
}

#resume .download-buttons button {
  text-transform: none;
}
