
<div class="container" id="resume">
  <h1 class="text-center page-header">Resume</h1>
  <!-- <div class="row">
    <div class="col-sm-12">
      <ng-include src="'/public/performance/partials/resumeFileFormats.html'"></ng-include>
    </div>
  </div> -->
  <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
      <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.resumeInstruction}}
  </p>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img  imgcrop-modal  page-id="{{::$ctrl.pageId}}"  ideal-size="335x435" tag="resumeHeadShot1" ng-model="$ctrl.images.resumeHeadShot1[0]" instruction-header="{{::$ctrl.placeholdertext.resumeHeader}}"/>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img  imgcrop-modal  page-id="{{::$ctrl.pageId}}"  ideal-size="335x435" tag="resumeHeadShot2" ng-model="$ctrl.images.resumeHeadShot2[0]" instruction-header="{{::$ctrl.placeholdertext.resumeHeader}}"/>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img  imgcrop-modal  page-id="{{::$ctrl.pageId}}"  ideal-size="335x435" tag="resumeHeadShot3" ng-model="$ctrl.images.resumeHeadShot3[0]" instruction-header="{{::$ctrl.placeholdertext.resumeHeader}}"/>
    </div>
  </div>
  <p ng-if="$ctrl.editing" class="alert alert-info pro-tip"><i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.resumeInstruction2}}</p>
  <div class="download-buttons">
      
    <linky page-id="{{::$ctrl.pageId}}" accept="application/pdf" type="button" ng-model="$ctrl.components.resumeFile[0]" tag="resumeFile" text="Download Resume" edit-text="{{::$ctrl.placeholdertext.resumeHeader}}"></linky>
    <linky page-id="{{::$ctrl.pageId}}" accept="image/*" type="button" linky ng-model="$ctrl.components.headshotFile[0]" tag="headshotFile" text="Download Headshot" edit-text="{{::$ctrl.placeholdertext.resumeHeader}}"></linky>
  </div>
</div>
