  <div class="container" id="resume">
    <div class="row">
      <div class="col-xs-12 title">
        <h1>Resume</h1>
      </div>
      <div class="col-xs-12">
        <resumeblock editing="$ctrl.editing" page-id="{{$ctrl.pageId}}"></resumeblock>
        <div class="row">
          <div class="col-sm-12 title  text-center">
            <p class="text-center margin-20">
              <linky page-id="{{::$ctrl.pageId}}"  class="linky" accept="application/pdf" type="a" ng-model="$ctrl.components.resumeFile[0]" tag="resumeFile" text="Click Here to Download Resume"></linky>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
