<!-- single resume only  -->
<div class="container" id="resume">
  <h1 class="text-center page-header">Resume</h1>
  <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
      <i class="fa fa-icon fa-info-circle"></i> <span ng-bind-html="$ctrl.placeholdertext.resumeInstruction"></span>
  </p>  
  <!-- <div class="row">
    <div class="col-sm-12">
      <ng-include src="'/public/performance/partials/resumeFileFormats.html'"></ng-include>
    </div>
  </div> -->
  <div class="row" id="resume-row">
    <div class="col-xs-12" id="resume-wrap">
      <img imgcrop-modal page-id="{{::$ctrl.pageId}}"  ideal-size="520x670" tag="resumeImage2" ng-model="$ctrl.images.resumeImage2[0]" outputwidth=1200 instruction-header="{{$ctrl.placeholdertext.resumeHeader}}">
    </div>
  </div>
  <p ng-if="$ctrl.editing" class="alert alert-info pro-tip"><i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.resumeInstruction2}}</p>  
  <div class="row">
    <div class="col-sm-12 title  text-center">
      <p class="text-center margin-20">
        <linky page-id="{{::$ctrl.pageId}}"  accept="application/pdf" class="linky" type="a" ng-model="$ctrl.components.resumeFile[0]" tag="resumeFile" text="Click Here to Download Resume"></linky>
      </p>
    </div>
  </div>
</div>
