<footer>
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" id="footer-wrap">
      <footertext editing="editing" site="_site"></footertext>
      <social site="_site" social="_site.social" editing="editing"></social>
    </div>
  </div>
</footer>
