<div id="header">
  <div class="container-fluid">
    <div id="nav-wrap" class="mainnav-wrap">
      <mainnav></mainnav>
    </div>
    <h1 data-fittext data-fittext-max="60" data-fittext-load-delay="500" class="brand inherit-line" onbeforesave="updateSiteMetadata('title', $data)" editable-text="_site.title">{{_site.title || 'Name'}}</h1>
  </div>
</div>
