<div id="contact">
    <div class="container">
        <h1 class="text-center page-header">Contact Me</h1>
        <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
            <i class="fa fa-icon fa-info-circle"></i> {{$ctrl.placeholdertext.portrait}}
        </p>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <contact-form></contact-form>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img imgcrop-modal page-id="{{::$ctrl.pageId}}" ng-model="$ctrl.images.contactImage[0]" ideal-size="360x430" tag="contactImage">
            </div>
            <div class="col-xs-12 col-sm-4">
                <p html-editable metadata="$ctrl.placeholdertext.contacteditor" page-id="{{::$ctrl.pageId}}" ng-model="$ctrl.components.contactHtml[0]" tag="contactHtml" placeholder="$ctrl.placeholdertext.contacteditor.placeholder"></p>
            </div>
        </div>
    </div>
</div>
