  <div class="container" id="contact">
    <h1 class="text-center page-header">Contact Me</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
          <contact-form></contact-form>
      </div>
      <div class="col-xs-12 col-sm-6">
          <p html-editable metadata="$ctrl.placeholdertext.contacteditor" page-id="{{::$ctrl.pageId}}" ng-model="$ctrl.components.contactHtml[0]" tag="contactHtml" placeholder="$ctrl.placeholdertext.contacteditor.placeholder"></p>
      </div>
    </div>

  </div>
