<div class="container" id="contact">  
  <h1 class="text-center page-header">Contact Me</h1>
  <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
      <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.portrait}}
  </p>        
  
  <div class="row">
    <div class="col-xs-12 col-sm-6">
        <contact-form></contact-form>
    </div>
    <div class="col-sm-12 col-sm-6">
      <img imgcrop-modal page-id="{{::$ctrl.pageId}}" tag="contactImage" ideal-size="360x400" ng-model="$ctrl.images.contactImage[0]">
    </div>
  </div>

</div>
