<div id="contact">
    <div class="container">
        <h1 class="text-center page-header">Contact Me</h1>
        <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
            <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.landscape}}
        </p>

        <div class="row">
            <div class="col-sm-7">
                <img imgcrop-modal page-id="{{::$ctrl.pageId}}" ng-model="$ctrl.images.contactImage[0]" ideal-size="600x400" tag="contactImage">
            </div>
            <div class="col-sm-5">
                <p html-editable metadata="$ctrl.placeholdertext.contacteditor" page-id="{{::$ctrl.pageId}}" ng-model="$ctrl.components.contactHtml[0]" tag="contactHtml" placeholder="$ctrl.placeholdertext.contacteditor.placeholder"></p>
            </div>
        </div>
    </div>
</div>
