<div class="container" id="custom">
    <div class="row">
        <h1 class="page-header text-center">{{$ctrl.page.nav_title}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div html-editable ng-model="$ctrl.components.custom_text_1[0]" tag="custom_text_1" page-id="{{::$ctrl.pageId}}" placeholder="($ctrl.editing ? 'Click here to edit' : '')"></div>
        </div>
    </div>
</div>
