<div class="container" id="custom">
    <div class="row">
        <h1 class="page-header text-center">{{$ctrl.page.nav_title}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div html-editable ng-model="$ctrl.components.custom_text_1[0]" tag="custom_text_1" page-id="{{$ctrl.pageId}}" placeholder="($ctrl.editing ? 'Click here to edit' : '')"></div>
        </div>
        <div class="col-sm-4">
            <img imgcrop-modal ng-model="$ctrl.images.customPageImage_1[0]" ideal-size="440x260" tag="customPageImage_1" page-id="{{$ctrl.pageId}}">
            <img imgcrop-modal ng-model="$ctrl.images.customPageImage_2[0]" ideal-size="440x260" tag="customPageImage_2" page-id="{{$ctrl.pageId}}">
        </div>
    </div>
</div>
