<style>
#mosaic-image-wrap,
#mosaic-image-wrap * {
  box-sizing: border-box;
}

#image-one,
#image-two,
#image-three,
#image-four {
  float: left;
  object-fit: cover;
}

#mosaic-image-wrap {
  width: calc((197px * 2) + 5px);
  /* height: calc((336px + (336px / 2)) + 10px); */
  float: left;
}

#image-one {
  height: 336px;
  margin-right: 2.5px;
  margin-bottom: 2.5px;
}

#image-two {
  margin-bottom: 2.5px;
}

#image-two, #image-three {
  height: calc((336px / 2) - 1.5px);
}

#image-one, #image-two, #image-three {
  width: 197px;
}

#image-four {
  width: calc((197px * 2) + 2.5px);
}

@media (min-width: 768px) {
  /* 173 x 296 */
  #mosaic-image-wrap {
    width: calc((173px * 2) + 5px);
    /* height: calc((296px + (296px / 2)) + 10px); */
  }

  #image-one {
    height: 296px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
  }

  #image-two {
    margin-bottom: 2.5px;
  }

  #image-two, #image-three {
    height: calc((296px / 2) - 1.5px);
  }

  #image-one, #image-two, #image-three {
    width: 173px;
  }

  #image-four {
    width: calc((173px * 2) + 2.5px);
  }
}

@media (max-width: 767px) {
  #mosaic-image-wrap {
    margin: 0 auto;
    float: none;
    margin-top: 1em;
  }
}
</style>
<div class="container">
    <div class="row">
        <h1 class="page-header text-center">{{$ctrl.page.nav_title}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div html-editable ng-model="$ctrl.components.custom_text_1[0]" placeholder="($ctrl.editing ? 'Click here to edit' : '')" tag="custom_text_1" page-id="{{::$ctrl.pageId}}"></div>
        </div>

        <div id="mosaic-image-wrap" class="clearfix">
          <img id="image-one" imgcrop-modal ng-model="$ctrl.images.customPageImage_1[0]" page-id="{{::$ctrl.pageId}}" alt="" tag="customPageImage_1" ideal-size="250x425">
          <img id="image-two" imgcrop-modal ng-model="$ctrl.images.customPageImage_2[0]" page-id="{{::$ctrl.pageId}}" tag="customPageImage_2" alt="" ideal-size="235x195">
          <img id="image-three" imgcrop-modal ng-model="$ctrl.images.customPageImage_3[0]" page-id="{{::$ctrl.pageId}}" tag="customPageImage_3"alt="" ideal-size="235x195">
          <img id="image-four" imgcrop-modal ng-model="$ctrl.images.customPageImage_4[0]" page-id="{{::$ctrl.pageId}}" tag="customPageImage_4"alt="" ideal-size="495x195">
        </div>

    </div>
</div>
