<div class="container" id="custom">
    <div class="row">
        <h1 class="page-header text-center">{{$ctrl.page.nav_title}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div html-editable ng-model="$ctrl.components.custom_text_1[0]" placeholder="($ctrl.editing ? 'Click here to edit' : '')" tag="custom_text_1" page-id="{{$ctrl.pageId}}"></div>
        </div>
        <div class="col-sm-6">
            <img imgcrop-modal="" ng-model="$ctrl.images.customPageImage_1[0]" tag="customPageImage_1" page-id="{{::$ctrl.pageId}}" ideal-size="500x650">
        </div>
    </div>
</div>
