<div class="container" id="custom">
    <div class="row">
        <h1 class="page-header text-center">{{$ctrl.page.nav_title}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p html-editable ng-model="$ctrl.components.custom_text_1[0]" placeholder="($ctrl.editing ? 'Click here to edit' : '')" tag="custom_text_1" page-id="{{::$ctrl.pageId}}"></p>
        </div>
        <div class="col-sm-6">
            <p html-editable ng-model="$ctrl.components.custom_text_2[0]" placeholder="($ctrl.editing ? 'Click here to edit' : '')" tag="custom_text_2" page-id="{{::$ctrl.pageId}}"></p>
        </div>
    </div>
</div>
