<header class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div id="logo" class="col-xs-12">
        <h1 editable-text="_site.title" onbeforesave="updateSiteMetadata('title', $data)">{{ _site.title || helpText.title }}</h1>
        <span class="hidden-xs hidden-sm" ng-show="_site.subtitle">&#8226;</span>

        <p class="subtitle" buttons="no" editable-text="_site.subtitle" onbeforesave="updateSiteMetadata('subtitle', $data)">{{ _site.subtitle || helpText.subtitle }}</p>
      </div>
    </div>
    <div class="collapse navbar-collapse mainnav-wrap" id="mainNav">
      <mainnav override="/public/performance/partials/mainnavlist.html"></mainnav>
    </div>
  </div>
</header>
