#logo {
  text-align: center;
}
#logo h1 {
  margin-top: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

header.navbar {
  margin-bottom: 0;
}

header {
    padding: 1em 0 0 0;
    height: auto;
    text-transform: uppercase;
}
