<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img id="splash" imgcrop-modal ng-model="$ctrl.images.heroImage[0]" tag="heroImage" outputwidth=1120 ideal-size="1120x725" class="
            img img-responsive"></img>
        </div>
    </div>
</div>
