<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img id="splash" imgcrop-modal ng-model="$ctrl.images.heroImage[0]" tag="heroImage" outputwidth=1120 ideal-size="625x780" class="
            img img-responsive" style="margin:0 auto;"></img>
        </div>
    </div>
</div>
