.navbar > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainnav li:not(#add-page) {
  font-size: 16px;
}

.shadow {
  position: relative;
}

.navbar-collapse {
  padding-left: 0;
}
.shadow::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 98%;
  height: 10px;
  transform: translateX(-50%);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
  /*z-index: -1;*/
}

header h1 {
  margin-right: 5px;
}

header h1, header p {
  display: inline-block;
}

.nav {
    /*border-bottom: 1px solid black;*/
    text-transform: uppercase;
}



.nav h1 {
    font-size: 52px;
}

.navbar-default {
    border: none;
    border-radius: 0;
    background-color: inherit;
}

#wrapper {
    /*margin-top: 30px;*/
}


footer {
  // padding-top: 75px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

footer p {
  text-align: center;
  margin: 10px 0 0 0;
}

@media (min-width: 768px) {
  header {
    padding: 1em 0;
    height: 175px;
  }
}

@media only screen and (max-width : 767px) {

  #logo {
    text-align: center;
  }
  section .container {
    width: 90%;
  }
  .navbar {
    margin-bottom: 0;
  }

  #contact form input[type="submit"] {
    width: 100%;
    padding: 1em 0;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    position: relative;
    z-index: 1000;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .navbar-collapse {
    box-shadow: 2px 4px 6px rgba(0,0,0,0.25);
    padding-right: 0;
    z-index: 1000;
  }

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0;
    width: 100%;
  }
}


.subtitle {
  font-size: 18px;
}

#social-wrap {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media screen and (min-width: 992px) and (max-height: 1024px) {
  .container {
    width: 850px;
  }
}

#wrap {
  display: flex;
  flex-direction: column;
}
#wrapper {
  flex: 1 1 auto;
}



@media screen and (max-width: 991px) {
  #logo h1 {
    display: block;
  }
}