@font-face {
  font-family: 'Amaranth';
  src: url("//d29iiyus81dyat.cloudfront.net/Amaranth/Amaranth-Regular.ttf"); }

@font-face {
  font-family: 'Abril Fatface';
  src: url("//d29iiyus81dyat.cloudfront.net/Abril_Fatface/AbrilFatface-Regular.ttf"); }

@font-face {
  font-family: 'Actors Access';
  src: url("//d29iiyus81dyat.cloudfront.net/Actors_Access/actors_access.woff"); }

@font-face {
  font-family: 'Cabin';
  src: url("//d29iiyus81dyat.cloudfront.net/Cabin/Cabin-Regular.ttf"); }

@font-face {
  font-family: 'Didact Gothic';
  src: url("//d29iiyus81dyat.cloudfront.net/Didact_Gothic/DidactGothic.ttf"); }

@font-face {
  font-family: 'Droid Sans';
  src: url("//d29iiyus81dyat.cloudfront.net/Droid_Sans/DroidSans.ttf"); }

@font-face {
  font-family: 'Droid Serif';
  src: url("//d29iiyus81dyat.cloudfront.net/Droid_Serif/DroidSerif.ttf"); }

@font-face {
  font-family: 'Francois One';
  src: url("//d29iiyus81dyat.cloudfront.net/Francois_One/FrancoisOne.ttf"); }

@font-face {
  font-family: 'Josefin Sans Regular';
  src: url("//d29iiyus81dyat.cloudfront.net/Josefin_Sans/JosefinSans-Regular.ttf"); }

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url("//d29iiyus81dyat.cloudfront.net/Josefin_Sans/JosefinSans-Bold.ttf"); }

@font-face {
  font-family: 'Lobster';
  src: url("//d29iiyus81dyat.cloudfront.net/Lobster/Lobster-Regular.ttf"); }

@font-face {
  font-family: 'Merriweather';
  src: url("//d29iiyus81dyat.cloudfront.net/Merriweather/Merriweather-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat';
  src: url("//d29iiyus81dyat.cloudfront.net/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("//d29iiyus81dyat.cloudfront.net/Montserrat/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Open Sans';
  src: url("//d29iiyus81dyat.cloudfront.net/Open_Sans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Oswald';
  src: url("//d29iiyus81dyat.cloudfront.net/Oswald/Oswald-Regular.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("//d29iiyus81dyat.cloudfront.net/Playfair_Display/PlayfairDisplay-Regular.ttf"); }

@font-face {
  font-family: 'Raleway';
  src: url("//d29iiyus81dyat.cloudfront.net/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'Bitter';
  src: url("//d29iiyus81dyat.cloudfront.net/Bitter-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("//d29iiyus81dyat.cloudfront.net/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Amatic SC';
  src: url("//d29iiyus81dyat.cloudfront.net/Amatic_SC/AmaticSC-Regular.ttf"); }

@font-face {
  font-family: 'Lora';
  src: url("//d29iiyus81dyat.cloudfront.net/Lora/Lora-Regular.ttf"); }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("//d29iiyus81dyat.cloudfront.net/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: 'Oxygen';
  src: url("//d29iiyus81dyat.cloudfront.net/Oxygen/Oxygen-Regular.ttf"); }

@font-face {
  font-family: 'PT Sans';
  src: url("//d29iiyus81dyat.cloudfront.net/Pt_Sans/PT_Sans-Web-Regular.ttf"); }

@font-face {
  font-family: 'Dosis';
  src: url("//d29iiyus81dyat.cloudfront.net/Dosis/Dosis-Regular.ttf"); }

@font-face {
  font-family: 'Hind';
  src: url("//d29iiyus81dyat.cloudfront.net/Hind/Hind-Regular.ttf"); }

@font-face {
  font-family: 'Alegreya';
  src: url("//d29iiyus81dyat.cloudfront.net/Alegreya/Alegreya-Regular.ttf"); }

@font-face {
  font-family: 'Libre Baskerville';
  src: url("//d29iiyus81dyat.cloudfront.net/Libre_Baskerville/LibreBaskerville-Regular.ttf"); }

@font-face {
  font-family: 'Fjalla One';
  src: url("//d29iiyus81dyat.cloudfront.net/Fjalla_One/FjallaOne-Regular.ttf"); }

@font-face {
  font-family: 'Cardo';
  src: url("//d29iiyus81dyat.cloudfront.net/Cardo/Cardo-Regular.ttf"); }

@font-face {
  font-family: 'Gudea';
  src: url("//d29iiyus81dyat.cloudfront.net/Gudea/Gudea-Regular.ttf"); }

@font-face {
  font-family: 'Rancho';
  src: url("//d29iiyus81dyat.cloudfront.net/Rancho/Rancho-Regular.ttf"); }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("//d29iiyus81dyat.cloudfront.net/Brandon_Grotesque/brandongrotesque_regular-webfont.woff"); }

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("https://s3.amazonaws.com/actorindex-wp/brandongrotesque_bold-webfont.woff2") format("woff2"), url("https://s3.amazonaws.com/actorindex-wp/brandongrotesque_bold-webfont.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("https://s3.amazonaws.com/actorindex-wp/brandongrotesque_regular-webfont.woff2") format("woff2"), url("https://s3.amazonaws.com/actorindex-wp/brandongrotesque_regular-webfont.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'brandon_grotesquelight';
  src: url("https://s3.amazonaws.com/actorindex-wp/brandongrotesque_light-webfont.woff2") format("woff2"), url("https://s3.amazonaws.com/actorindex-wp/brandongrotesque_light-webfont.woff") format("woff");
  font-weight: normal; }

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

a, a:hover, a:click, a:visited {
  outline: none; }

.warning {
  color: red; }

#wrap {
  min-height: 100%; }

html,
body,
#wrap {
  min-height: 100%;
  font-size: 16px;
  position: absolute;
  width: 100%; }
  html.banner-top,
  body.banner-top,
  #wrap.banner-top {
    padding-top: 60px; }
  html.banner-bottom,
  body.banner-bottom,
  #wrap.banner-bottom {
    padding-bottom: 66px; }

#wrapper {
  min-height: calc(100vh - 400px); }

p[tag="footerHtml"] {
  text-align: center; }

body {
  max-width: 100vw;
  overflow-x: hidden; }

p {
  margin: 0 0 15px; }

input.ng-invalid.ng-touched {
  background-color: rgba(236, 59, 59, 0.3); }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%; }

.aspect-ratio iframe,
.aspect-ratio > div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.navbar-toggle {
  border: 1px solid #616161; }

.navbar-toggle .icon-bar {
  background-color: #616161; }

.wistia_embed {
  height: 100%; }

.media-title {
  margin-bottom: 35px;
  margin-top: 12px; }

.sweet-alert a {
  color: #3d69d7 !important;
  text-decoration: underline; }

.sweet-alert a:hover {
  opacity: 0.5 !important;
  color: #3d69d7 !important; }

.video.margin-bottom {
  margin-bottom: 60px; }

.bg-img-buttons button.imgcrop {
  min-height: auto; }

#gallery h2 {
  text-align: center; }

#gallery .image-list {
  list-style: none; }
  #gallery .image-list li {
    display: inline-block;
    width: calc((100% - 75px) / 5);
    margin: 7.5px; }
    #gallery .image-list li img {
      width: 100%;
      height: auto;
      cursor: pointer; }

.navbar-collapse.in {
  overflow: hidden;
  max-height: none !important;
  height: auto !important; }

#mainNav {
  padding-left: 0;
  padding-right: 0;
  border-top: none; }

#gallery #gallery-list {
  padding: 0; }
  #gallery #gallery-list li {
    width: calc((100% - (15px * 5 * 2)) / 5);
    display: inline-block; }

@media screen and (max-width: 1200px) {
  #gallery .image-list li {
    width: calc((100% - 60px) / 4); }
  #gallery #gallery-list li {
    width: calc((100% - (15px * 4 * 2)) / 4); } }

@media screen and (min-width: 800px) {
  .mainnav {
    margin: 0 auto;
    display: block; }
  .navbar-nav {
    float: none; } }

@media screen and (max-width: 767px) {
  .nav.navbar-nav.mainnav {
    max-width: none;
    flex-direction: column; }
  #gallery .image-list li {
    width: calc((100% - 45px) / 3); }
  #gallery #gallery-list li {
    width: calc((100% - (15px * 3 * 2)) / 3); } }

@media screen and (max-width: 600px) {
  #gallery .image-list li {
    width: calc((100% - 30px) / 2); }
  #gallery #gallery-list li {
    width: calc((100% - (15px * 2 * 2)) / 2); } }

.ngdialog-close {
  color: black !important;
  position: absolute;
  top: 10px;
  right: 20px; }

.add-video-dialog .ngdialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  z-index: 10000;
  padding: 2em;
  border-radius: 0px;
  transform: translate(-50%, -50%); }

.ngdialog.ngdialog-theme-default {
  padding-top: 5vh; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  display: block;
  width: 80%;
  background-color: white;
  height: 90vh;
  overflow: auto; }

.ngdialog-content h1,
.ngdialog-content h2,
.ngdialog-content h3,
.ngdialog-content h4,
.ngdialog-content h5 {
  /*color: black !important;*/ }

.ngdialog-content .btn.btn-success {
  background-color: #5cb85c !important; }

.ngdialog-content .btn.btn-primary {
  background-color: #337ab7; }

.ngdialog-content .btn {
  width: auto; }

/* Remove gutters from bootstrap rows */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

@font-face {
  font-family: 'imdb';
  src: url("//d29iiyus81dyat.cloudfront.net/imdb.woff?pxgy1n") format("woff");
  font-weight: normal;
  font-style: normal; }

.social-list [class^="icon-"],
.social-list [class*=" icon-"] {
  font-family: 'imdb';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.social-list a {
  text-decoration: none !important; }

@media screen and (max-width: 767px) {
  .navbar-header button {
    width: auto; }
  .navbar {
    width: 100%; }
  .navbar-nav {
    display: block;
    width: 100%;
    margin: 0;
    float: none; }
  .navbar-nav li {
    width: 100%;
    text-align: center;
    display: block; }
  .navbar-nav li a {
    padding: 0.5em 0; }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    padding: 0; }
  #banner_top .btn {
    width: 80%;
    padding: 1em 0; }
  .flex {
    flex-direction: column; } }

#nav-wrap {
  position: relative; }

.mainnav-wrap .mainnav {
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .mainnav-wrap .mainnav > li {
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    flex: 1 1 auto; }
    .mainnav-wrap .mainnav > li a {
      width: 100%; }
    .mainnav-wrap .mainnav > li a:hover {
      opacity: 1; }

.mainnav li {
  float: none; }

.mainnav-wrap .mainnav li {
  float: left; }

#nav-wrap {
  overflow: hidden; }

#mobile-nav .container-fluid {
  padding: 0; }

#mobile-nav .mainnav li {
  text-align: center;
  text-transform: uppercase; }

#showpage-open-close-menu {
  display: none; }

.mm-page__blocker {
  cursor: pointer;
  transition: background-color 0.2s; }

@media (max-width: 767px) {
  .mainnav-wrap {
    display: none; }
  #mobile-nav .mainnav-wrap {
    display: block; }
  #showpage-open-close-menu {
    display: initial; }
  #mobile-nav .navbar-header {
    display: none; }
  .navbar {
    min-height: 0; } }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

.mainnav > li .opaque {
  opacity: 0.2; }

.no-margin-top {
  margin-top: 0; }

.linky {
  cursor: pointer; }

.social-item {
  display: flex;
  justify-content: center;
  align-items: center; }

.social-edit-button i {
  margin-right: -4px; }

.alert {
  margin-bottom: 0;
  border-radius: 0; }

#wrapper .button,
#wrapper .btn {
  padding: 10px;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 200px;
  transition: all 0.3s; }
  #wrapper .button.btn-admin,
  #wrapper .btn.btn-admin {
    display: none; }

#wrapper .page-header {
  /* BY DEFAULT DO NOT SHOW HEADER! */
  display: none;
  text-transform: uppercase;
  border-bottom: none; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.main-ui-view.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;
  /* start with opacity 0 (invisible) */
  opacity: 0; }

.main-ui-view.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1; }

.margin-20 {
  margin: 20px; }

.row.table-row {
  display: table; }

.row.table-row > [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top; }

[html-editable] > :first-child {
  margin-top: 0 !important; }

[html-editable] p, [html-editable] h1, [html-editable] h2, [html-editable] h3, [html-editable] h4, [html-editable] h5, [html-editable] span {
  word-wrap: break-word; }

i.social-icon {
  position: relative; }

i.social-icon > a {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0;
  left: 0;
  height: 100%; }

#social-wrap ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0; }

#social-wrap ul a:not(:last-of-type) {
  margin-right: 1em; }

#social-wrap ul li {
  width: 40px;
  height: 40px;
  margin: 0 2px;
  color: #202020;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em; }

.fullscreen-lb i {
  color: black !important;
  margin: 10px 20px; }

.fullscreen-lb img {
  width: 100%; }

@font-face {
  font-family: 'icomoon';
  src: url("/public/performance/img/backstage_icon.woff?4a1vg0") format("woff");
  font-weight: normal;
  font-style: normal; }

.fa-backstage, .fa-actors_access {
  display: flex;
  justify-content: center;
  align-items: center; }

.fa-backstage {
  width: 25px;
  height: 25px;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .fa-backstage::before {
    content: "\e900"; }

.fa-actors_access {
  width: 25px;
  height: 25px;
  font-family: 'Actors Access';
  font-size: 1.25em;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .fa-actors_access:before {
    content: "\61";
    height: 15px; }

#social-title {
  display: none; }

.ta-bind p, [html-editable] p {
  margin-bottom: 2px !important; }

.sixteen-nine {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .sixteen-nine:hover .youtube-icon {
    opacity: 0.75; }
  .sixteen-nine::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 51%; }
  .sixteen-nine .youtube-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100px !important;
    height: 70px;
    transition: opacity 0.2s; }
  .sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(-15%); }

#wrapper div[text-angular] div[text-angular-toolbar] .btn-group button.btn, #wrapper div[text-angular] div[text-angular-toolbar] .btn-group span {
  min-width: auto; }

#wrapper div[text-angular] div[text-angular-toolbar] .btn-group span {
  padding: 6px 0 0 0; }

#custom img {
  width: 100%; }

header.navbar a:visited, header.navbar a:focus, header.navbar a:hover, header.navbar a:active {
  text-decoration: none; }

blockquote {
  border-left: none !important; }

@media screen and (min-width: 768px) {
  .row.is-flex {
    display: flex;
    flex-wrap: wrap; }
  .row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    /* https://stackoverflow.com/questions/29986668/flex-wrap-not-working-as-expected-in-safari */
    margin: 0 -.3px; } }

#expanding-gallery ul {
  list-style: none; }

#expanding-gallery .gallery-overview ul {
  padding-left: 0; }
  #expanding-gallery .gallery-overview ul li {
    margin-bottom: 30px; }
    #expanding-gallery .gallery-overview ul li .main-img-holder {
      flex: 2; }
      #expanding-gallery .gallery-overview ul li .main-img-holder img {
        width: 100%; }

@media screen and (min-width: 600px) {
  #expanding-gallery .gallery-section {
    display: flex;
    justify-content: flex-start; } }

#expanding-gallery .gallery-section p {
  margin-bottom: 5px; }

#expanding-gallery .details {
  flex: 1; }
  @media screen and (min-width: 600px) {
    #expanding-gallery .details {
      padding: 0 20px 20px 20px; } }
  #expanding-gallery .details h3 {
    margin-bottom: 0; }
    #expanding-gallery .details h3:not(:first-child) {
      margin-top: 0; }
    #expanding-gallery .details h3:last-of-type {
      margin-bottom: 20px; }

#expanding-gallery .section-detail ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media only screen and (max-width: 767px) {
    #expanding-gallery .section-detail ul li {
      width: 50%; } }

#expanding-gallery .section-detail img {
  height: 150px;
  margin: 5px; }

#expanding-gallery .gallery-section img,
#expanding-gallery .section-detail img {
  display: inline-block;
  margin-right: 10px; }

#expanding-gallery .overlay {
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  #expanding-gallery .overlay .wrapper {
    padding: 0px 55px; }
  #expanding-gallery .overlay .fa-close {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 15000;
    font-size: 1.5em;
    color: white !important; }

#expanding-gallery .overlay.ng-enter {
  transition: 0.2s linear all;
  opacity: 0; }

#expanding-gallery .overlay.ng-enter-active {
  opacity: 1; }

#expanding-gallery .overlay.ng-leave {
  transition: 0.2s linear all;
  opacity: 1; }

#expanding-gallery .overlay.ng-leave.ng-leave-active {
  opacity: 0; }

#expanding-gallery #light-box-images {
  width: 70vw;
  height: 80vh;
  margin: 0 auto;
  padding: 10px 0; }
  #expanding-gallery #light-box-images div, #expanding-gallery #light-box-images li {
    height: 100%; }
  #expanding-gallery #light-box-images li {
    display: flex;
    justify-content: center; }
  #expanding-gallery #light-box-images img {
    width: 80%;
    object-fit: contain; }

.flex-column-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.slick-slide {
  outline: none !important; }

.slick-next,
.slick-prev {
  height: 40px !important;
  width: 40px !important;
  z-index: 1000; }
  .slick-next:before,
  .slick-prev:before {
    font-size: 40px !important; }

[ng-click] {
  cursor: pointer; }

.btn-green {
  background-color: #4c8f41;
  color: #ffffff; }

.coverbackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.inherit-line {
  line-height: inherit !important; }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mainnav {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between; } }

@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ngdialog-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.ngdialog {
  box-sizing: border-box; }

.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  box-sizing: inherit; }

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ngdialog.ngdialog-disabled-animation,
.ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
.ngdialog.ngdialog-disabled-animation .ngdialog-content {
  -webkit-animation: none !important;
  animation: none !important; }

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s; }

.ngdialog-no-overlay {
  pointer-events: none; }

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s; }

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  pointer-events: all; }

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s; }

.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer; }

html.ngdialog-open,
body.ngdialog-open {
  overflow: hidden; }

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); } }

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); } }

.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px; }

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: #f0f0f0;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px; }

.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0; }

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px; }

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
  color: #777; }

.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em; }

.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em; }

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%; }

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none; }

.ngdialog.ngdialog-theme-default .ngdialog-buttons {
  *zoom: 1; }

.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both; }

.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase; }

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none; }

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none; } }

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff; }

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777; }

/* Include this file in your html if you are using the CSP mode. */
.uib-position-measure {
  display: block !important;
  visibility: hidden !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.uib-position-scrollbar-measure {
  position: absolute !important;
  top: -9999px !important;
  width: 50px !important;
  height: 50px !important;
  overflow: scroll !important; }

.uib-position-body-scrollbar-measure {
  overflow: scroll !important; }

/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
.lSSlideWrapper, .lSSlideWrapper .lSFade {
  position: relative; }

.lSSlideWrapper .lSSlide, .lSSlideWrapper.usingCss .lSFade > * {
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important; }

.lSSlideOuter, .lSSlideOuter .lSPager.lSGallery {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

.lSSlideOuter .lSPager.lSGallery:after, .lSSlideWrapper > .lightSlider:after {
  clear: both; }

.lSSlideOuter {
  overflow: hidden;
  user-select: none; }

.lightSlider:after, .lightSlider:before {
  content: " ";
  display: table; }

.lightSlider {
  overflow: hidden; }

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden; }

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform,height;
  transition-property: transform,height; }

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%; }

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.lSSlideWrapper .lSFade > .active {
  z-index: 10; }

.lSSlideWrapper.usingCss .lSFade > .active {
  opacity: 1; }

.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center; }

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px; }

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s; }

.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #428bca; }

.lSSlideOuter .media {
  opacity: .8; }

.lSSlideOuter .media.active {
  opacity: 1; }

.lSSlideOuter .lSPager.lSGallery {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  user-select: none; }

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius .12s linear 0s .35s linear 0s;
  transition: border-radius .12s linear 0s .35s linear 0s; }

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px; }

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%; }

.lSSlideOuter .lSPager.lSGallery:after, .lSSlideOuter .lSPager.lSGallery:before {
  content: " ";
  display: table; }

.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url(/public/performance/img/controls.png);
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  margin-top: -16px;
  opacity: .5;
  -webkit-transition: opacity .35s linear 0s;
  transition: opacity .35s linear 0s; }

.lSAction > a:hover {
  opacity: 1; }

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px; }

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px; }

.lSAction > a.disabled {
  pointer-events: none; }

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden; }

.lSSlideOuter.vertical {
  position: relative; }

.lSSlideOuter.vertical.noPager {
  padding-right: 0 !important; }

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0; }

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important; }

.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0; }

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto; }

.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px; }

.lSSlideOuter.lSrtl {
  direction: rtl; }

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
  padding-left: 0;
  list-style: none; }

.lSSlideOuter.lSrtl .lSPager, .lSSlideOuter.lSrtl .lightSlider {
  padding-right: 0; }

.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider > * {
  float: left; }

.lSSlideOuter.lSrtl .lSGallery li, .lSSlideOuter.lSrtl .lightSlider > * {
  float: right !important; }

@-webkit-keyframes rightEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: -15px; } }

@keyframes rightEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: -15px; } }

@-webkit-keyframes topEnd {
  0%, 100% {
    top: 0; }
  50% {
    top: -15px; } }

@keyframes topEnd {
  0%, 100% {
    top: 0; }
  50% {
    top: -15px; } }

@-webkit-keyframes leftEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: 15px; } }

@keyframes leftEnd {
  0%, 100% {
    left: 0; }
  50% {
    left: 15px; } }

@-webkit-keyframes bottomEnd {
  0%, 100% {
    bottom: 0; }
  50% {
    bottom: -15px; } }

@keyframes bottomEnd {
  0%, 100% {
    bottom: 0; }
  50% {
    bottom: -15px; } }

.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd .3s;
  animation: rightEnd .3s;
  position: relative; }

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd .3s;
  animation: leftEnd .3s;
  position: relative; }

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd .3s;
  animation: topEnd .3s;
  position: relative; }

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd .3s;
  animation: bottomEnd .3s;
  position: relative; }

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd .3s;
  animation: leftEnd .3s;
  position: relative; }

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd .3s;
  animation: rightEnd .3s;
  position: relative; }

.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; } }

.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }

.sweet-alert fieldset {
  border: none;
  position: relative; }

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s; }

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s; }

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px; }

.sweet-alert .sa-error-container p {
  display: inline-block; }

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px; }

.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd; }

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd; }

.sweet-alert.show-input input {
  display: block; }

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative; }

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden; }

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

.sweet-alert button:hover {
  background-color: #7ecff4; }

.sweet-alert button:active {
  background-color: #5dc2f1; }

.sweet-alert button.cancel {
  background-color: #C1C1C1; }

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9; }

.sweet-alert button.cancel:active {
  background-color: #a8a8a8; }

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default; }

.sweet-alert button.confirm[disabled] {
  color: transparent; }

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; }

.sweet-alert button::-moz-focus-inner {
  border: 0; }

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important; }

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px; }

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474; }

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block; }

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px; }

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86; }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%); } }

@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0 !important; }

#preview-banner {
  background-color: #B2D1B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0; }
  #preview-banner .btn {
    border-radius: 0;
    display: block;
    width: 500px; }
  #preview-banner .btn-primary {
    background-color: #4c8f41;
    border-color: #396c31; }
  #preview-banner .btn-info {
    background-color: #318bd5;
    border-color: #2470af;
    margin-top: 10px; }
