#template-select img {
  display: block;
  margin: 0 auto; }

#template-select .buttons {
  text-align: center;
  padding: 15px 0; }

#template-select .site-preview-wrap {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#template-select .site-preview {
  width: 80%; }

#template-select .site-preview-wrap .site-preview {
  display: inline-block;
  padding: 1em;
  /*border: 2px solid transparent;*/ }

#template-select .site-preview-wrap .site-preview.active {
  border: 1px solid #4c8f41;
  background-color: #b2d1b5; }

#template-select .site-preview-wrap .site-preview .fa-check-circle-o {
  color: #4c8f41; }

#template-select .site-preview-wrap .site-preview .btn[disabled] {
  background-color: #b2d1b5;
  color: white;
  border: none; }

#banner_top, #banner_bottom {
  font-family: 'Brandon Grotesque';
  width: 100%;
  background-color: #000;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: white;
  z-index: 1000; }

#banner_top {
  top: 0;
  padding: 10px 0; }

#banner_bottom {
  bottom: 0;
  padding: 10px 0; }

.modal-content {
  height: 80vh;
  overflow: scroll; }

.modal-body {
  overflow: hidden; }

.imgcropmodal-modal + img {
  height: 80vh;
  object-fit: contain; }

@media (max-height: 500px) {
  .carousel-caption h3 {
    margin: 0;
    font-size: 20px; }
  .carousel-caption p {
    font-size: 18px; }
  #carousel-element img {
    height: 50%; } }
