        </div>
    </div>
<script>
    angular.module('pencilblueApp').controller('BannerController', function($scope, $http, $sce) {
        ^angular_objects^

        $http.get('/api/site').then(function(res) {
            $scope._site = res.data;
        }, function(res) {
            console.log('error: ', res);
        });

        $scope.shouldShowBanner = function() {
            if ($scope._site.trial) {
                return true;
            } else if ($scope._site.expiration_date) {
                var today = new Date();
                var date = new Date($scope._site.expiration_date);            
                if (today > date) {
                    return true;
                } else {
                    return false;
                }
            } else {
                return false;
            }
        };

        $scope.getTrialHoursRemaining = function() {
            var html = '';
            if ($scope._site && $scope._site.expiration_date) {
                var date = new Date();
                var expireDate = new Date($scope._site.expiration_date);
                if (expireDate < date) {
                    html = '<span>Your site is currently expired. Please signup for a subscription.</span>';
                } else {
                    html = '<span>Your site is currently in trial mode. Your trial will expire on ' + moment($scope._site.expiration_date).format('dddd, MMMM Do YYYY h:mm a') + '.</span>';
                }
            } else {
                html = '<span>Your site is currently in trial mode. Your trial will expire on ' + moment($scope._site.expiration_date).format('dddd, MMMM Do YYYY h:mm a') + '.</span>';
            }

            $scope.trialText = $sce.trustAsHtml(html);
        };
    });
</script>
<div ng-controller="BannerController">
    <ng-include src="'/public/performance/partials/banner_top.html'" ng-show="shouldShowBanner()"></ng-include>
</div>
<footer class="footer">
    <div>
        &copy; ^year^ <a href="^site_url^" target="_blank">^site_domain^</a>. ^loc_ALL_RIGHTS^. v^version^
    </div>
</footer>

</body>

</html>
