^tmp_admin=head^
<div class="col-md-9" style="margin-top: 1em">
    <div id="info">
        <img src="^site_logo^" alt="">
        <h2>^welcome_message^</h2>
        <p>Click Edit Website on the left to begin customizing your site now!</p>
        <p>If you need help, please email <a href="mailto:^help_email^">^help_email^</a></p>
    </div>
    <div id="template-select">
      <div class="col-md-12">
        <h3>Choose A Template:</h3>
			</div>
			
			<div class="row is-flex">
				<div class="col-md-6 site-preview-wrap" ng-repeat="theme in themes track by theme._id" ng-cloak>
					<div class="site-preview" ng-class="{'active': _site.theme === theme._id}">
						<img style="border: 1px solid #cecece;" ng-src="/public/performance/themes/{{theme._id}}/theme.jpg" alt="{{theme.name}}">
						<p class="template-description text-center">{{theme.description}}</p>
						<div class="buttons">
							<a ng-click="chooseTheme(theme)" class="btn btn-primary" ng-cloak ng-disabled="_site.theme === theme._id">{{_site.theme === theme._id ? 'Current Theme - ' + theme.name : 'Choose ' + theme.name}} <span class="fa fa-check-circle-o" ng-show="_site.theme === theme._id"></span></a>
						</div>
					</div>
				</div>
			</div>
</div>
^tmp_angular=admin=index^
^tmp_admin=footer^
<script type="text/javascript" src="/public/performance/js/admin.js?v=0627"></script>
