^tmp_admin=head^
<style type="text/css">
	.image {
		margin: 5px;
		border: 2px solid transparent;
	}
	.image.active {
		border: 2px solid green;
	}

</style>
<div class="col-md-9">
	^tmp_admin=elements=error_success^
  <h3>Social Meta Data Settings</h3>

  <h4 style="text-transform: inherit;">These social settings determine the information and image that will appear when your website is linked on social media sites like Facebook and Twitter.</h4>
  <p>Facebook and Twitter caches your website. To update your website, follow these instructions: </p>
 	<p>
 		Reset your Facebook Post using these settings here:
			<a target="_blank" href="https://developers.facebook.com/tools/debug/">https://developers.facebook.com/tools/debug</a>
	</p>

	<p>
 		Reset your Twitter Post using these settings here:
			<a target="_blank" href="https://cards-dev.twitter.com/validator">https://cards-dev.twitter.com/validator</a>
	</p>

	<form name="pluginSettingsForm" ng-submit="savePluginSettings()" novalidate>
		<fieldset>
			<div class="tab-content">
				<div class="tab-pane active" id="plugin_settings">
					<div class="form-group" ng-repeat="item in settings">
						<label ng-bind="item.displayName"></label>
						<input class="form-control" ng-model="item.value" type="{{item.type}}" ng-if="item.type != 'checkbox'"></input>
						<br ng-if="item.type == 'checkbox'"/>
						<div class="btn-group" ng-if="item.type == 'checkbox'">
							<button type="button" class="btn btn-default" ng-class="{'active': item.value}" ng-click="item.value = true">^loc_YES^</button>
							<button type="button" class="btn btn-default" ng-class="{'active': !item.value}" ng-click="item.value = false">^loc_NO^</button>
						</div>
						<div ng-if="item.name == 'image_url'">
							<div>Select an Existing Image</div>
							<img class="image" ng-class="{'active': item.value == image.url}" ng-src="^cloudinary_template_path^w_100,h_100,c_pad/{{image._id}}" ng-click="item.value=image.url" ng-repeat="image in images">
						</div>
					</div>

				</div>
				<a class="btn btn-default" href="/admin/plugins">
					<i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
				</a>
				^tmp_admin=elements=save_button^
			</div>
		</fieldset>
	</form>
	<br><br>



</div>
^tmp_angular=admin=plugins=plugin_settings^
^tmp_admin=footer^
