<edit-gallery-media title="Create/Edit Media" media="$ctrl.media" modal="true" layout="$ctrl.layout" context="media"></edit-gallery-media>
<div class="row" ng-repeat="section in $ctrl.media track by $index">
  <h3 ng-show="section.name">{{section.name}}</h3>
  <div class="col-sm-12"  ng-repeat="media in section.files track by $index">
    <div ng-if="$ctrl.testUrl(media.url) !== 'soundcloud'">
      <video-element video-type="$ctrl.testUrl(media.url)" video="media"></video-element>
      <p editable-text="media.title" class="editable editable-click media-title" ng-show="media.title.length || editing">{{media.title || 'Untitled'}}</p>
    </div>
    <div ng-if="$ctrl.testUrl(media.url) === 'soundcloud'">
      <soundcloud url="media.url" title="media.title"></soundcloud>
    </div>
  </div>
</div>