<div id="videos">
    <div class="container">
      <h1 class="text-center page-header">Media</h1>
      <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
          <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.mediaInstructions}}
      </p>        
      <mediablock editing="$ctrl.editing" page-id="$ctrl.pageId" partial='1-media.html'></mediablock>
    </div>
  </div>
  