<header>
    <div class="container-fluid">
      <div id="brand-wrap">
        <div>
          <h1 data-fittext data-fittext-max="60" data-fittext-load-delay="500" class="brand" editable-text="_site.title" onbeforesave="updateSiteMetadata('title', $data)" >{{_site.title || 'Name'}}</h1>
        </div>
      </div>
      <div id="nav-wrap" class="mainnav-wrap">
        <mainnav override="/public/performance/themes/7/mainnavlist.html"></mainnav>
      </div>
    </div>
</header>
