<div class="splash" id="full-page">
  <div id="hero-image" hideshadowbox imgcrop-modal mobile-upload="true" ideal-size="800x430" ng-model="$ctrl.images.heroImage[0]" mobile-image="$ctrl.images.heroImageMobile[0]" mobile-ideal-size="430x800" tag="heroImage" background-image="true" instruction="{{$ctrl.placeholdertext.spotlight}}"></div>
</div>
<!-- <p id="home-tip"><i class="fa fa-icon fa-info-circle"></i> {{$ctrl.placeholdertext.spotlight}} </p> -->