/*body>.ng-scope>div:nth-of-type(7) {
    height: 100% !important;
}

.main-ui-view.ng-scope {
    height: 100% !important;
}

body>.ng-scope {
    height: 100% !important;
}*/

body {
  position: relative;
}

header {
  background-color: transparent !important;
  transition: none;
  animation: none;
}

header h1 {
text-align: center;
}

#wrapper.wrapper-home {
  background-image: url("{{$ctrl.images.heroImage[0].url}}");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
}

#wrapper:not(.wrapper-home) {
  min-height: calc(100vh - 120px - 90px);
  margin-top: 120px;
  padding: 15px 0;
}

#wrapper.wrapper-home div, #wrapper.wrapper-home home, #full-page  {
  height: 100%;
}

#full-page {
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}

.brand {
  white-space: nowrap;
}

@media(max-width: 767px) {
  #nav-wrap:not(.sitewide) {
    background-color: rgba(0,0,0,0);
  }
  #wrapper.wrapper-home {
    height: 60vh;
  }
  #wrapper:not(.wrapper-home) {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  #brand-wrap {
    padding-bottom: 5px;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #full-page {
    background-size: cover;
  }
}

.splash.ng-pristine.ng-untouched.ng-valid{
  cursor: pointer;
}

#preview-banner {
height: 108px;
margin-top: -108px;
}

#wrap.preview {
margin-top: 108px;
}

#home-tip {
position: fixed;
bottom: 50px;
right: 50px;
width: 40%;
background-color: white;
padding: 10px;
border: 1px solid black;
}

header {
z-index: 1;
}

#full-page .upload-message > .message {
  height: auto;
}