<div id="news">
  <div class="container">
    <h1 class="text-center page-header">News</h1>
    <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
        <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.landscape}}
    </p>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!--  ng-bind-html="$ctrl.trustText($ctrl.components.newsHtml[0].html || $ctrl.placeholdertext.newseditor.placeholder)" -->
        <div html-editable notify="true" page-id="{{::$ctrl.pageId}}" ng-model="$ctrl.components.newsHtml[0]" placeholder="$ctrl.placeholdertext.newseditor.placeholder" tag="newsHtml" metadata="$ctrl.placeholdertext.newseditor" instruction-header="{{::$ctrl.placeholdertext.newsImageInstruction}}"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <img imgcrop-modal
          style="margin-bottom:10px;"
          page-id="{{::$ctrl.pageId}}"
          ng-model="$ctrl.images.mainNews1[0]"
          tag="mainNews1"
          ideal-size="440x260"
          class="margin-ten-mobile"
          instruction-header="{{::$ctrl.placeholdertext.newsImageLandscapeInstruction}}"
        />
        <img imgcrop-modal
        style="margin-bottom:10px;"
        page-id="{{::$ctrl.pageId}}"
        ng-model="$ctrl.images.mainNews2[0]"
        tag="mainNews2"
        ideal-size="440x260"
        instruction-header="{{::$ctrl.placeholdertext.newsImageLandscapeInstruction}}"
      />
        <!--<img imgcrop-modal page-id="{{::$ctrl.pageId}}" style="margin-bottom:10px;" ng-repeat="image in $ctrl.newsImages track by $index" ng-model="image" tag="{{image.overrideTag ? image.overrideTag : 'news' + ($index + 1)}}" ideal-size="440x260" instruction-header="{{::$ctrl.placeholdertext.newsImageInstruction}}" />-->
        <!--<button ng-show="$ctrl.realImageLength > 1 && $ctrl.realImageLength < 10" class="btn btn-primary sitewide" style="margin: 25px auto;width: 215px;display:inherit;" imgcrop-modal noshowbg ideal-size="440x260" tag="news{{::$ctrl.lastImageTag}}">Add Additional Images</button>-->
      </div>
    </div>
  </div>
</div>
