  <div class="container" id="news">
    <h1 class="text-center page-header">News</h1>
    <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
        <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.portrait}}
    </p>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
       <p html-editable notify="true" page-id="{{::$ctrl.pageId}}" ng-model="$ctrl.components.newsHtml[0]" tag="newsHtml" placeholder="$ctrl.placeholdertext.newseditor.placeholder" metadata="$ctrl.placeholdertext.newseditor" instruction-header="{{::$ctrl.placeholdertext.newsImageInstruction}}"></p>
      </div>
      <div class="col-xs-12 col-sm-6">
          <img imgcrop-modal
            style="margin-bottom:10px;"
            page-id="{{::$ctrl.pageId}}"
            ng-model="$ctrl.images.mainNews1[0]"
            tag="mainNews1"
            ideal-size="500x650"
            instruction-header="{{::$ctrl.placeholdertext.newsImageInstruction}}"
          />
        <!-- <button ng-show="$ctrl.realImageLength > 0 && $ctrl.realImageLength < 10" class="btn btn-primary sitewide" style="margin: 25px auto;width: 215px;display:inherit;" imgcrop-modal noshowbg ideal-size="500x650" tag="mainNews{{::$ctrl.lastImageTag}}">Add Additional Images</button> -->
      </div>
    </div>
  </div>
