<form name="$ctrl.contactForm" ng-submit="submitForm()">
  <div class="alert" ng-class="$ctrl.alertClass" ng-show="$ctrl.showAlert" ng-cloak>{{$ctrl.info.success}}{{$ctrl.info.error}}</div>
  <div class="form-group">
    <input type="text" required class="form-control" ng-model="$ctrl.formData.name" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <input type="email" required name="email" ng-model="$ctrl.formData.fromEmail" placeholder="Email Address" class="form-control">
  </div>
  <div class="form-group">
    <textarea name="message" required rows="5" ng-model="$ctrl.formData.message" placeholder="Message" class="form-control"></textarea>
  </div>
  <g-recaptcha callback="$ctrl.registerToken(token)"></g-recaptcha>
  <button class="btn btn-primary contact-submit-btn" type="button" ng-click="$ctrl.submitForm()">Submit</button>
</form>
