
<div id="editPanel" ng-class="{'show': showEditMenu}" ng-if="editing">
  <div id="editPanelToggle">
    <i class="fa fa-cog" ng-click="toggleShowEditMenu()"></i>
  </div>
  <div class="edit-nav">
    <button id="preview" class="save" ng-click="preview()">Preview</button>
    <button class="save green" ng-click="publishSite()" title="Publish Site{{isUnpublished ? ' (Site is currently unpublished)' : ''}}">Publish</button>
    <span class="indicator goback-button" ng-hide="editMenu === null" ng-click="editMenuGoBack()"><i class="fa fa-chevron-left"></i>&nbsp;BACK</span>
    <a href="#" ng-click="greenRoom()" ng-show="editMenu === null" id="goback-admin" class="goback-button"><i class="fa fa-chevron-left"></i>&nbsp;<span>Back to Green Room</span></a>
  </div>
  <div id="main" class="menu-list" ng-show="editMenu === null" style="z-index: 1;">
    <ul class="main-list">
      <li>
        <div class="title">Organize Pages</div>
        <div>Add and remove website pages and arrange the order in which they appear on your navigation bar.</div>
        <button class="btn btn-xs green" ng-click="chooseEditMenu('pages')">Organize Pages</button>
      </li>
      <li>
        <div class="title">Page Layout</div>
        <div>Select how items are arranged on each page of your website.
        </div>
        <button class="btn btn-xs green"  ng-click="chooseEditMenu('layout')">Select Page Layout </button>
      </li>
      <li>
        <div class="title">Colors</div>
        <div>Select a color palette that best complements your photos.</div>
        <button class="btn btn-xs green"  ng-click="chooseEditMenu('colors')">Select Colors</button>
      </li>
      <li>
        <div class="title">Fonts</div>
        <div>Select a font pairing that reflects your style.</div>
        <button class="btn btn-xs green" ng-click="chooseEditMenu('fonts')">Select Fonts</button>
      </li>
      <li>
        <div class="title">Templates</div>
        <div>Set the tone and determine your website’s overall look with any of our custom templates.</div>
        <button class="btn btn-xs green" ng-click="chooseEditMenu('theme')">Choose Template</button>
      </li>
      <li>
        <div class="title">Search Settings</div>
        <div>Change how your site will appear in search engines</div>
        <button class="btn btn-xs green" ng-click="chooseEditMenu('search')">Change Settings</button>
      </li>
    </ul>

    <div id="webuildit">
      <div ng-click="weBuildItForyou()">Want help creating your site? Set up a quick consultation!</div>
    </div>
  </div>
  <div id="pages" class="menu-list" ng-show="editMenu === 'pages'" style="z-index: 2;">
    <h4>Organize Pages</h4>
    <div class="navbar-instructions">
    <b>Arrange Pages</b>
    <div>Arrange the order in which your pages appear in the navigation bar of your website. Simply click the icon to the left of the page name you want to move and drag it to its new position in the list. Your change will be immediately reflected in your website draft.</div>
    <br/><br/>
    <b>Remove Pages</b>
    <div>Click the icon to the right of any page name to hide it on your website. All of your work will be saved; however, no visitors to your site will see this page while it is disabled.</div>
    </div>

    <!--<ul>
      <li style="padding-left: 40px;">Home</li>
    </ul>-->
    <ul ui-sortable="navSortableOptions" ng-model="pages" class="navOrderList">
     <li class="no-hover edit-panel-navitem" ng-repeat="navItem in pages">
      	<span nav-item item="navItem" edit-page="editPage" remove-page="removePage"></span>&nbsp;
      	<i class="toggle-visibility fa fa-eye-slash" style="margin-left: 10px;opacity: 0.7" class="toggle-visibility fa fa-eye-slash" ng-class="{notvisible: navItem.hidden}" ng-click="toggleVisible(navItem)" title="Visibility"></i>
     </li>
    </ul>
    <ul>
      <li style="cursor:pointer;" ng-click="createCustomPageModal()"><i class="fa fa-plus"></i>&nbsp;ADD NEW</li>
    </ul>
  </div>
  <div id="theme" class="menu-list" ng-show="editMenu === 'theme'" style="z-index:2;">
    <div id="template-select">
      <h4>Choose Template</h4>
      <div class="navbar-instructions">
        Select one of our custom templates, designed specifically for actors to give industry decision makers the information they need.
        <br/> <br/>
        You may change your template at any time. Please note that some photos on your homepage will not transfer to a new template.
      </div>
      <ul id="theme-list">
        <li ng-repeat="theme in themes" class="site-preview-wrap no-hover">
          <div class="site-preview" ng-class="{'active': _site.theme === theme._id}">
            <img style="border: 1px solid #cecece;" ng-src="/public/performance/themes/{{theme._id}}/theme.jpg" alt="{{theme.name}}">
            <p class="template-description">{{theme.description}}</p>
            <div>
              <a ng-click="chooseTheme(theme)" class="btn btn-primary no-hover" ng-cloak ng-disabled="_site.theme === theme._id">
                {{_site.theme === theme._id ? 'Current Theme' : 'Choose'}}<br>
                {{theme.name}}
                <span ng-show="_site.theme === theme._id"><br><i class="fa fa-check-circle-o"></i></span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="layout" class="menu-list" ng-show="editMenu === 'layout'" style="z-index: 2;">
    <h4>Page Layout</h4>
    <div ng-show="!templates[currentPage.layout_category].length">No alternate page layouts available for this page.</div>
    <ul>
      <li ng-repeat="template in templates[currentPage.layout_category] track by $index" ng-click="changePageLayout(template.id || $index)">
        <img ng-src="{{template.img}}" alt="">
        <p class="text-center">{{template.name}}</p>
      </li>
    </ul>
  </div>
  <div id="colors" class="menu-list" ng-show="editMenu === 'colors'" style="z-index: 2;">
    <h4>Select Colors</h4>
    <div id="color-palettes" class="clearfix">
      <div class="navbar-instructions">
        <p>Your website’s colors should complement your photos, reflect your personality, and most importantly, make all links and text easy to read against your background.</p>
        <p>Choose from professionally designed color palettes or use the Customize Colors tool for a completely original look. </p>
        <p>Color changes will apply to all pages of your website.</p>
      </div>
      <div ng-repeat="palette in palettes" class="color-palette" ng-click="choosePalette($index + 1)">
        <img ng-src="/public/performance/img/palettes/palette{{$index + 1}}.png" alt="Palette {{$index + 1}}">
      </div>
    </div>
    <div id="custom-colors">
      <h5 ng-click="showHideCustomizeColors()">Customize Colors&nbsp;<i class="fa" ng-class="{'fa-caret-down': showCustomColors,'fa-caret-up': !showCustomColors}"></i></h5>
      <!-- <div class="btn btn-danger default-button" title="Revert to Default Colors" ng-click="defaultColor()"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Return to default</div> -->
      <div ng-show="showCustomColors">
        <small ng-click="defaultColor()"><i class="fa fa-refresh"></i>&nbsp;return to default</small>
        <div id="palette-list">
          <div ng-repeat="(key, style) in ::_site.pageStyles track by $index" class="palette-image" ng-if="!(key === 'font' || (key === 'about_background' && _site.theme !== 6))">
            <div colorpicker colorpicker-with-input="true" colorpicker-fixed="true" colorpicker-parent="true" colorpicker-close-on-select options="colorPickerOptions" ng-model="_site.pageStyles[key]" class="color-preview" ng-style="{'background': _site.pageStyles[key]}"></div>
            <span class="color-label">{{key | pagestyle}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fonts" class="menu-list" ng-show="editMenu === 'fonts'" style="z-index: 2;">
    <h4>Select Fonts      </h4>
    <div class="navbar-instructions">
      <p>Choose the font pairing that best reflects your personal style.</p>
      <p>Fonts on the left are headers; fonts on the right are for bodies of text. Changes will be applied to all pages of your website.      </p>
    </div>
    <ul id="font-list-picker-list" >
      <li ng-repeat="font in ::fonts" ng-click="changeFont(font)">
        <div>
          <span style="font-family: '{{fontsObj[$index][0]}}'">{{fontsObj[$index][0]}}</span>/
          <span style="font-family: '{{fontsObj[$index][1]}}'">{{fontsObj[$index][1]}}</span>
          <span class="pull-right" ng-show="_site.pageStyles.font.join('/') === font" style="color: #72AB4A;"><i class="glyphicon glyphicon-check"></i></span>
        </div>
      </li>
    </ul>
  </div>
  <div id="search" class="menu-list" ng-show="editMenu === 'search'">
    <h4>Search Settings</h4>
    <form>
      <div class="form-group">
        <label for="title">Page Title</label>
        <input type="text" ng-model="_site.search_title" class="form-control" style="margin-bottom: 5px;">
        <button class="btn btn-xs green" style="width: 100%" ng-click="updateSearchSettings('search_title', _site.search_title)">Save</button>
      </div>
      <div class="from-group">
        <label for="description">Description</label>
        <input type="text" ng-model="_site.description" class="form-control" style="margin-bottom: 5px;">
        <button class="btn btn-xs green" style="width: 100%" ng-click="updateSearchSettings('description', _site.description)">Save</button>
      </div>
    </form>
  </div>
</div>
<!-- <div id="color-warning" ng-class="{'show-warning': revertColorsPreview}">
  <i class="fa fa-exclamation-triangle"></i>
  <span id="color-warning-message">Are you sure you want to return your site to its default colors? You will lose all your changes</span>
  <div id="color-warning-buttons">
    <span ng-click="revertColors()" class="action first-action">Yes</span>
    <span ng-click="keepColors()" class="action">No</span>
  </div>
</div> -->
<div class="alert alert-danger" ng-show="inactive && editing"><i class="fa fa-exclamation-triangle"></i>&nbsp;This Page Is Currently Deactivated and will not show in non-edit mode</div>
<script>
$(function() {
  $(document).on('show.bs.collapse', '.collapse', function() {
    $('#editPanel').find('.collapse.in').collapse('hide');
  });
});
</script>
