<div id="carousel-element" class="carousel slide" data-ride="carousel" data-keyboard="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div ng-repeat="(idx, img) in section.images track by $index" class="item" ng-class="{'active': idx === 0}">
      <img ng-src="{{img.url}}" alt="Chania">
      <div class="carousel-caption carousel-gallery-caption">
        <h3 ng-show="img.title" style="text-transform:uppercase;">{{img.title}}</h3>
        <p ng-show="img.credit" style="text-transform:uppercase;">{{img.credit}}</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <div ng-show="section.images.length > 1" ng-keyup="slideKey($event, idx, 'prev')">
  <a class="left carousel-control" ng-click="slide(idx, 'prev')" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" ng-click="slide(idx, 'next')" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
<script>
  imagesLoaded($('.carousel-inner'), function() {
    objectFitImages();
  });
</script>
