<div class="getting-started-header">GETTING STARTED</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-caption">        
        STEP 1: Explore the admin panel.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/c_pad,h_500/howto/step1.jpg" alt="STEP 1: Explore the admin panel.">
    </div>

    <div class="item">
      <div class="carousel-caption">        
        STEP 2: Choose the theme for your homepage and begin editing.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step2.jpg" alt="STEP 2: Choose the theme for your homepage and begin editing.">
    </div>

    <div class="item">
      <div class="carousel-caption">        
        STEP 3: Once in your site editor, start adding content to your site.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step3.1.jpg" alt="STEP 3: Once in your site editor, start adding content to your site.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 3: Once in your site editor, start adding content to your site.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step3.2.jpg" alt="STEP 3: Once in your site editor, start adding content to your site.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 4: Use the customization toolbar at the top to control the fonts, colors, and settings for
your entire site.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step4.jpg" alt="STEP 4: Use the customization toolbar at the top to control the fonts, colors, and settings for
your entire site.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 5: Choose a template for each page.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step5.jpg" alt="STEP 5: Choose a template for each page.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 6: With some layouts you can upload your resume as a PDF or image.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step6.1.jpg" alt="STEP 6: With some layouts you can upload your resume as a PDF or image.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 6: Or use the Resume Builder to to build your resume into the page.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step6.2.jpg" alt="STEP 6: Or use the Resume Builder to to build your resume into the page.">
    </div>

    <div class="item">
      <div class="carousel-caption">        
        STEP 7: Add photos.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step7.1.jpg" alt="STEP 7: Add photos.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 7: Add photos.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step7.2.jpg" alt="STEP 7: Add photos.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 8: Add videos.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step8.jpg" alt="STEP 8: Add videos.">
    </div>



    <div class="item">
      <div class="carousel-caption">        
        STEP 9: Add your contact information.
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step9.jpg" alt="STEP 9: Add your contact information.">
    </div>


    <div class="item">
      <div class="carousel-caption">        
        STEP 10: You’re done! Save your changes!
      </div>    
      <img src="http://res.cloudinary.com/actorindex/image/upload/howto/step10.jpg" alt="STEP 10: You’re done! Save your changes!">
    </div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="text-center skip"><a href="/edit" class="text-underline gray">Skip instructions and continue to edit website</a> or <a href="#" onclick="zE.activate();return false;" class="text-underline gray">Click here to chat with representative</a></div>
