<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Create New Page:</h3>
            <div>Add a custom page to your website. Feature an upcoming project, a recent performance or appearance—the possibilities are endless!</div>
        </div>        
    </div>
    <form name="newPageForm" ng-submit="createNewPage()" novalidate>
      <div class="form-group">
          <input type="text" name="name" class="form-control" ng-model="newPageName" ng-minlength="1" ng-maxlength="pageNameLimit" required placeholder="Page Name">
          <small ng-class="{'warning': newPageForm.name.$invalid && !newPageForm.name.$pristine}">{{pageNameLimit}} character limit</small>
      </div>
      <!-- <div class="form-group">
          <label for="position">Position In Site Navigation Bar:</label>
          <input type="number" name="position" min="1" max="{{8 + customPages.length}}" step="1" class="form-control" ng-model="newPagePosition" placeholder="(Optional) Number Between 1 and {{customPages.length}}">
      </div> -->
      <input type="submit" class="btn btn-primary" ng-disabled="!newPageForm.$valid">
  </form>    
</div>
