<h3>{{tableInitialized ? 'Edit your' : 'Add a'}} resume</h3>
<form name="resumeBuilderForm">
  <div id="personal-info">
    <div class="resume-section" id="personal-info">
      <h3>Personal Info</h3>
      <div class="form-group">
        <label>
          <input type="text" ng-model="table.personal_info.name" placeholder="Name" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.header" placeholder="Header, i.e. Actor, Dancer" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.union" placeholder="Union" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.email" placeholder="Email" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.phone" placeholder="Phone" class="form-control" ng-pattern="onlyNumbers">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.height" placeholder="Height" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.weight" placeholder="Weight" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.hair_color" placeholder="Hair Color" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.eye_color" placeholder="Eye Color" class="form-control">
        </label>
        <label>
          <input type="text" ng-model="table.personal_info.range" placeholder="Vocal Range" class="form-control">
        </label>
      </div>
    </div>
  </div>
  <div id="experience">
    <div class="resume-section clearfix">
      <h3>Experience</h3>
      <div class="resume-section clearfix" ng-repeat="(rowIdx, row) in table.experience">
        <small>Header {{$index + 1}}</small>
        <div class="form-group">
          <label for="header">Project Type <small>i.e. Theatre, Film, Television, etc</small></label>
          <input type="text" ng-model="row.header" name="header" class="form-control" ng-change="updateTable()" move-to-next-input closest="class_form-group">
        </div>
        <div class="form-group">
          <label for="data">Info</label>
          <div class="data-group" ng-repeat="(idx, dataCell) in row.data track by $index">
            <input type="text" class="form-control" ng-model="row.data[idx].title" placeholder="title of show" ng-change="updateTable()" move-to-next-input closest="input">
            <input type="text" class="form-control" ng-model="row.data[idx].role" placeholder="Role/Role type (i.e. 'Pippin', or for TV: Series regular, recurring, etc.)" ng-change="updateTable()" move-to-next-input closest="input">
            <input type="text" class="form-control" ng-model="row.data[idx].credit" placeholder="Venue/Director/Network (i.e. George Street Playhouse, Stephanie Yankwitt, dir., ABC" ng-change="updateTable()" move-to-next-input closest="class_form-group">
            <button type="button" class="btn btn-danger btn-xs" title="Remove Row" ng-click="removeRow('experience', rowIdx, idx)" no-enter><i class="glyphicon glyphicon-trash"></i></button>
          </div>
          <button class="btn btn-default" ng-click="addData(row)" title="Add Experience" no-enter><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="form-group">
          <div class="pull-right buttons">
            <button type="button" class="btn btn-danger" title="Delete This Section" ng-click="deleteSection(rowIdx)" no-enter><i class="glyphicon glyphicon-trash"></i></button>
          </div>
        </div>
      </div>
      <button class="btn btn-default" ng-click="addRow('experience')" no-enter><span class="glyphicon glyphicon-plus"></span> Add A Section</button>
    </div>
  </div>
  <div id="education">
    <div class="resume-section">
      <h3>Training</h3>
      <div class="form-group resume-section" ng-repeat="(eduIdx, edu) in table.education">
        <input type="text" class="form-control" ng-model="edu.school" ng-change="updateTable()" placeholder="Name of School" class="form-control" move-to-next-input closest="input">
        <input type="text" class="form-control" ng-model="edu.degree" ng-change="updateTable()" placeholder="Degree Type (MFA, BFA, Conservatory style training)" class="form-control">
        <h5>Studies:</h5>
        <hr>
        <div>
          <div class="form-group" ng-repeat="(idx, data) in edu.data">
            <div class="data-group">
              <input type="text" ng-model="data.title" class="form-control" placeholder="Training style (i.e. Acting, Voice/Speech, Movement)" move-to-next-input closest="input">
              <input type="text" ng-model="data.professors" class="form-control" placeholder="Professors (optional)">
              <button type="button" class="btn btn-danger btn-xs" ng-click="removeRow('education', eduIdx, idx)" no-enter><i class="glyphicon glyphicon-trash"></i></button>
            </div>
          </div>
          <button class="btn btn-default" ng-click="addData(edu)" title="Add Area of Study" no-enter><i class="glyphicon glyphicon-plus"></i></button>
        </div>
      </div>
      <button class="btn btn-default" ng-click="addRow('education')" no-enter><i class="glyphicon glyphicon-plus"></i> Add Training</button>
    </div>
  </div>
  <div id="special-skills">
    <div class="resume-section">
      <h3>Special Skills</h3>
      <small style="line-height: 1em;">i.e. Advanced French (7 years), MA license (automatic), Long distance runner, rabble rouser, etc</small>
      <!-- <textarea text-angular rows="10" class="form-control" ng-model="table.special_skills" placeholder="List you special skills here"></textarea> -->
      <text-angular ng-model="table.special_skills"></text-angular>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="saveTable()" ng-disabled="!resumeBuilderForm.$valid">Save</button>
    <butto class="btn btn-default" ng-click="closeThisDialog()">Close</butto>
  </div>
</form>
