body:not(.sitewide) {
  background-color: {{pageStyles.background_color}};
  color: {{pageStyles.color}};
}

#wrapper:not(.sitewide), #wrapper h1:not(.sitewide), #wrapper h2:not(.sitewide), #wrapper h3:not(.sitewide), #wrapper h4:not(.sitewide), #wrapper h5:not(.sitewide), #wrapper p:not(.sitewide), #wrapper span:not(.sitewide), #wrapper input:not(.sitewide), #wrapper .button:not(.sitewide), #wrapper .btn:not(.sitewide), #wrapper a:not(.sitewide), footer:not(.sitewide) {
  font-family: '{{pageStyles.font[1]}}';
}

#wrapper div:not(.sitewide) .btn:not(.sitewide),  #wrapper div:not(.sitewide) .button:not(.sitewide) {
  color: {{pageStyles.button_text_color}};
  background-color: {{pageStyles.button_bg_color}};
  border: 2px solid {{pageStyles.button_text_color}};
  border-radius: 0;
}

#wrapper .btn:hover:not(.sitewide), #wrapper .button:hover:not(.sitewide) {
  color: {{pageStyles.button_bg_color}};
  background-color: {{pageStyles.button_text_color}};
  border: 2px solid {{pageStyles.button_bg_color}};
}

.main-ui-view a:not(.sitewide) {
  color: {{pageStyles.link_color}};
}
.main-ui-view a:hover:not(.sitewide) {
  color: {{pageStyles.link_hover_color}};
}

header:not(.sitewide), footer:not(.sitewide) {
  background-color: {{pageStyles.header_background_color}};
}

header:not(.sitewide), .mainnav li, header h1:not(.sitewide), h1.brand:not(.sitewide), header h2:not(.sitewide), header h3:not(.sitewide), header h4:not(.sitewide), header h5:not(.sitewide), header a:not(.sitewide) {
  font-family: '{{pageStyles.font[0]}}';
}

.navbar-default .navbar-nav:not(.sitewide), .navbar-default .navbar-nav li:not(.sitewide), .nav a li:not(.sitewide), .customheader:not(.sitewide) {
  background-color: {{pageStyles.navbar_background}};
}

#nav-wrap:not(.sitewide) {
  background-color: {{pageStyles.navbar_background}};
}

.mainnav-wrap .navbar-default .nav>a:not(.sitewide), .mainnav-wrap .nav>li>a:not(.sitewide), .mainnav-wrap .customheader:not(.sitewide) {
  color: {{pageStyles.nav_text_color}} !important;
}

#mobile-nav-button-wrap {
  /* background-color: {{pageStyles.nav_active_color === '#fff' || pageStyles.nav_active_color === '#ffffff' ? '#393939' : pageStyles.nav_active_color || '#393939'}}; */
  /* background-color: #393939; */
  /* background-color: {{ pageStyles.nav_active_color }} */
  background-color: {{pageStyles.nav_active_color === '#fff' || pageStyles.nav_active_color === '#ffffff' ? '#393939' : pageStyles.nav_active_color || '#393939'}};
}

.mm-menu {
  background-color: {{pageStyles.navbar_background || pageStyles.background_color}};
  border-right: {{pageStyles.nav_text_color}};
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: {{pageStyles.nav_text_color || '#fff'}};
}


#mobile-nav .mainnav li {
  border-bottom: 1px solid {{pageStyles.nav_text_color}};
  color: {{pageStyles.nav_text_color}};
  /* font-family: '{{pageStyles.font[0]}}'; */
}

/*// .nav>li>a:hover:not(.sitewide), .nav>li>a:focus:not(.sitewide) {
//   background-color: {{pageStyles.nav_active_color}} !important;
// }*/
.mainnav.navbar-nav>li>a:hover:not(.sitewide), .mainnav.navbar-nav>li>a:focus:not(.sitewide) {
  background-color: {{pageStyles.nav_active_color}};
}

.nav>li>a.active:not(.sitewide) {
  background-color: {{pageStyles.nav_active_color}};
}

.ta-toolbar button:not(.sitewide) {
  width: auto;
}

.modal-dialog .btn:not(.sitewide) {
  border-radius: 4px;
}

.modal-dialog .btn.btn-primary:not(.sitewide) {
  background-color: #337ab7;
}

.html-editable.ng-empty:not(.sitewide), .imgcrop.ng-empty:not(.sitewide) {
  padding: 0.5em;
}

.social-item:not(.sitewide) {
  background-color: {{pageStyles.social_background_color}} !important;
  color: {{pageStyles.social_font_color}} !important;
}

#logo:not(.sitewide), .brand:not(.sitewide), .brand a:not(.sitewide), .subtitle:not(.sitewide) {
  color: {{pageStyles.title_color}} !important;
}

hr:not(.sitewide) {
  border-color: {{pageStyles.color}};
}

#social-wrap:not(.sitewide) {
  border-color: {{pageStyles.color}} !important;
}

#social-title:not(.sitewide) {
  color: {{pageStyles.color_footer}} !important;
}

footer > *:not(.sitewide), #footer > *:not(.sitewide) {
  color: {{pageStyles.color_footer}} !important;
}


.mainnav-with-border {
  border-top: 1px solid {{pageStyles.title_color}};
  border-bottom: 1px solid {{pageStyles.title_color}};
}

#home-about-background {
  background-color: {{pageStyles.about_background}};
}


@media screen and (max-width: 767px) {

  .navbar-collapse {
    background-color: {{pageStyles.navbar_background}};
  }

}