    <style>
      .upload-group {
        position: relative;
      }
      .upload-badge {
        border-radius: 50%;
        border: 2px solid #eee;
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 10;
        font-size: 0.75em;
      }
      #upload-table {
        font-size: 0.75em;
      }
      table.table {
        margin: 15px 0;
        width: 100%;
      }
      table.table td, table.table th {
        text-align: center;
      }
      table.table td:not(:nth-child(2)) {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 25%;
      }
      table.table td:nth-child(2) {
        width: 50%;
      }
    </style>
    <h2>Choose your media source first:</h2>
    <br>

    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group upload-group" role="group">
        <button ng-click="changeSelection('youtube')" type="button" class="btn btn-default"><span class="fa fa-youtube"></span>&nbsp;YouTube</button>
      </div>
      <div class="btn-group upload-group" role="group">
        <button ng-click="changeSelection('vimeo')" type="button" class="btn btn-default"><span class="fa fa-vimeo"></span>&nbsp;Vimeo</button>
      </div>
      <div class="btn-group upload-group" role="group">
        <button ng-click="changeSelection('wistia')" type="button" class="btn btn-default"><i class="icon icon-wistia"></i>&nbsp;Wistia</button>
      </div>
      <div class="btn-group upload-group" role="group">
        <button ng-click="changeSelection('soundcloud')" type="button" class="btn btn-default"><i class="fa fa-soundcloud"></i>&nbsp;Soundcloud</button>
      </div>
    </div>
    <hr class="sitewide">
    <form class="form" name="addVideoForm" ng-hide="selection === 'upload'">
      <div class="form-group" style="position: relative;">
        <label for="url" ng-show="selection === 'wistia'">Enter the <strong>id</strong> of the wistia video you wish to upload</label>
        <input type="text" class="form-control" placeholder="{{placeholders[selection]}}" ng-model="newVideo.url" ng-pattern="regexes[selection !== 'youtube' ? 'notIframe' : 'iframe']" required novalidate>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="newVideo.title" name="url" required novalidate>
      </div>
      <button class="btn btn-success form-control" type="button" ng-hide="selection === 'upload'" ng-click="addVideo(addVideoForm.$valid)" type="submit">Add Media</button>
      <button class="btn btn-danger form-control" type="button" ng-show="selection === 'upload'" type="submit">Upload</button>
    </form>
    <div ng-show="selection=='upload'">
        <button class="btn btn-danger form-control">Upload</button>
    </div>
    <script>
      setTimeout(function() {
        $('[data-toggle="tooltip"]').tooltip();
      }, 500);
    </script>
