<div id="side_menu">
  <div class="spacer"></div>
  <div class="panel-group" id="nav_accordion">
    <span ng-repeat="navItem in navigation track by navItem.id">
                    <div class="panel panel-default" ng-if="!navItem.active" ng-cloak ng-hide="navItem.title=='Content'">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#nav_accordion" href="#{{navItem.id}}_collapse" ng-if="navItem.dropdown">
                                <div class="panel-title">
                                    <i class="fa fa-fw fa-{{navItem.icon}}"></i>&nbsp;<span id={{getId(navItem.title)}}>{{navItem.title}}</span>
  </div>
  </a>
  <a href="{{navItem.href}}" ng-if="!navItem.dropdown">
    <div class="panel-title">
      <i class="fa fa-fw fa-{{navItem.icon}}"></i>&nbsp;<span id={{getId(navItem.title)}}>{{navItem.title}}</span>
    </div>
  </a>
</div>
<div id="{{navItem.id}}_collapse" class="panel-collapse collapse" ng-if="navItem.dropdown">
  <ul class="nav nav-pills nav-stacked">
    <li class="{{childItem.active}}" ng-repeat="childItem in navItem.children track by childItem.id" ng-cloak>
      <a href="{{childItem.href}}">
        <i class="fa fa-fw fa-{{childItem.icon}}"></i>&nbsp;{{childItem.title}}
      </a>
    </li>
  </ul>
</div>
</div>
<div class="panel panel-primary" ng-if="navItem.active" ng-cloak>
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#nav_accordion" href="#{{navItem.id}}_collapse" ng-if="navItem.dropdown">
      <div class="panel-title">
        <i class="fa fa-fw fa-{{navItem.icon}}"></i>&nbsp;<span id={{getId(navItem.title)}}>{{navItem.title}}</span>
      </div>
    </a>
    <a href="{{navItem.href}}" ng-if="!navItem.dropdown">
      <div class="panel-title">
        <i class="fa fa-fw fa-{{navItem.icon}}"></i>&nbsp;<span id={{getId(navItem.title)}}>{{navItem.title}}</span>
      </div>
    </a>
  </div>
  <div id="{{navItem.id}}_collapse" class="panel-collapse collapse in" ng-if="navItem.dropdown">
    <ul class="nav nav-pills nav-stacked">
      <li class="{{childItem.active}}" ng-repeat="childItem in navItem.children track by childItem.id" ng-cloak>
        <a href="{{childItem.href}}">
          <i class="fa fa-fw fa-{{childItem.icon}}"></i>&nbsp;{{childItem.title}}
        </a>
      </li>
    </ul>
  </div>
</div>
</span>
<!-- 
      <span>
        <div class="panel panel-default" >
          <div class="panel-heading">
                          <a href="#" howto>
                            <div class="panel-title">
                              <i class="fa fa-fw fa-question"></i>&nbsp;<span id="howto">Build your site step by step</span>
                            </div>
                          </a>  
          
          </div>
        </div>

      </span> -->
</div>
</div>
