<header>
    <div class="container">
      <div class="no-padding-left" id="brand-wrap">
        <div>
          <h1 class="brand" editable-text="_site.title" onbeforesave="updateSiteMetadata('title', $data)">{{_site.title || helpText.title}}</h1>
          <h3 class="subtitle" editable-text="_site.subtitle" onbeforesave="updateSiteMetadata('subtitle', $data)">{{_site.subtitle || helpText.subtitle}}</h3>
        </div>
      </div>
      <div class="no-padding-right mainnav-wrap" id="nav-wrap">
        <mainnav override="/public/performance/themes/6/mainnavlist.html"></mainnav>
      </div>
    </div>
</header>
