<div class="container" id="home">
    <div class="row" id="hero-images">
        <div class="col-xs-6">
          <h3 ng-if="$ctrl.editing" metadata="$ctrl.placeholdertext.role1htmleditor" class="text-center" html-editable ng-model="$ctrl.components.role_6_1[0]" tag="role_6_1" placeholder="$ctrl.placeholdertext.role1" ctype="text"></h3>
          <div class="img-wrap">
            <img class="img-responsive" hideshadowbox imgcrop-modal ideal-size="550x720" ng-model="$ctrl.images.homeMainLeft_6[0]" instruction="{{$ctrl.placeholdertext.role1img}}" tag="homeMainLeft_6"/>
            <a ng-if="!$ctrl.editing && $ctrl.components.role_6_1[0].text" ui-sref="resume({view: 1})" class="overlay nounderline"><h3>{{$ctrl.components.role_6_1[0].text || ($ctrl.editing ? $ctrl.placeholdertext.role1 : '')}}</h3></a>
          </div>
        </div>
        <div class="col-xs-6">
          <h3 ng-if="$ctrl.editing" metadata="$ctrl.placeholdertext.role2htmleditor" class="text-center" html-editable ng-model="$ctrl.components.role_6_2[0]" tag="role_6_2" placeholder="$ctrl.placeholdertext.role2" ctype="text"></h3>
          <div class="img-wrap">
            <img class="img-responsive" hideshadowbox imgcrop-modal ideal-size="550x720" ng-model="$ctrl.images.homeMainRight_6[0]" instruction="{{$ctrl.placeholdertext.role2img}}" tag="homeMainRight_6"/>
            <a ng-if="!$ctrl.editing && $ctrl.components.role_6_1[0].text" ui-sref="resume({view: 2})" class="overlay nounderline"><h3>{{$ctrl.components.role_6_2[0].text || ($ctrl.editing ? $ctrl.placeholdertext.role2 : '')}}</h3></a>
          </div>
        </div>
    </div>
    <div id="home-about" class="row">
      <div class="col-xs-12">
        <div class="title customheader" html-editable ng-model="$ctrl.components.homeSubHeader[0]" placeholder="$ctrl.placeholdertext.subheadAboutText" ctype="text" tag="homeSubHeader"></div>
        <div class="row no-margin">
          <div id="home-about-background" class="clearfix" style="display:flex;">
            <div class="" style="flex:1;padding:1em;">
              <div class="flex-wrap-column">
                <strong html-editable ng-model="$ctrl.components.upcomingTextHeader[0]" class="uppercase" placeholder="'Recent and Upcoming Projects'" ctype="text" style="margin-bottom: 5px;" tag="upcomingTextHeader"></strong>

                <div class="upcoming">
                  <img instruction-header="Upload" class="img-responsive" hideshadowbox imgcrop-modal ignoremessage="true" ideal-size="200x200" ng-model="$ctrl.images.upcoming_6_1[0]" tag="upcoming_6_1"/>
                  <p html-editable  metadata="$ctrl.placeholdertext.projectdescription" ng-model="$ctrl.components.upcoming_6_1[0]" tag="upcoming_6_1" placeholder="$ctrl.placeholdertext.upcoming1"></p>
                </div>
                <div class="upcoming">
                  <img instruction-header="Upload"  class="img-responsive" hideshadowbox imgcrop-modal ignoremessage="true" ideal-size="200x200" ng-model="$ctrl.images.upcoming_6_2[0]" tag="upcoming_6_2"/>
                  <p html-editable metadata="$ctrl.placeholdertext.projectdescription" ng-model="$ctrl.components.upcoming_6_2[0]" tag="upcoming_6_2" placeholder="$ctrl.placeholdertext.upcoming2"></p>
                </div>
                <div class="upcoming">
                  <img instruction-header="Upload"  class="img-responsive" hideshadowbox imgcrop-modal ignoremessage="true" ideal-size="200x200" ng-model="$ctrl.images.upcoming_6_3[0]" tag="upcoming_6_3"/>
                  <p html-editable metadata="$ctrl.placeholdertext.projectdescription" ng-model="$ctrl.components.upcoming_6_3[0]" tag="upcoming_6_3" placeholder="$ctrl.placeholdertext.upcoming3"></p>
                </div>

                <a class="btn btn-default" goto ng-model="$ctrl.components.homeLeftLink_6[0]" tag="homeLeftLink_6">Learn More</a>
              </div>
            </div>
            <div class="" style="flex:1;padding:1em;">
              <div class="flex-wrap-column">
                <p id="about-text" html-editable ng-model="$ctrl.components.homeRight_6[0]" tag="homeRight_6" placeholder="$ctrl.placeholdertext.aboutme"></p>
                <a class="btn btn-default" ng-model="$ctrl.components.homeRightLink_6[0]" tag="homeRightLink_6" goto>Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
