.mainnav {
  position: relative;
}

#add-page {
  transform: translateY(110%);
}

/* .navbar-toggle {
  border-color: white;  cant do this or itll be transparent in some color tschemes -mk
} */

/* .navbar-toggle .icon-bar {
  background-color: white; cant do this or itll be transparent in some color tschemes -mk
} */

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

#home .flex-wrap-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

#home .flex-wrap-column a.btn {
  margin-top: auto;
  align-self: center;
  width: auto;
  min-width: 150px;
}

#hero-images img {
  border: 1px solid gray;
}

#social-wrap {
  padding: 10px 0;
}

.main-ui-view {
  padding: 1em 0;
}

#home-about {
  margin-top: 1em;
}

#home-about .flex-wrap-column {
  min-height: 200px;
}

.gray {
  background-color: #f0f0ef;
}

#home-about .title {
  padding: 8px 0;
  text-align: center;
}

#home .img-wrap {
  position: relative;
}

#home .img-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 0;
}

#home .img-wrap:hover .overlay {
  opacity: 1;
  text-decoration: none;
}

footer {
  text-align: center;
}

#brand-wrap h1.brand {
  margin-top: 15px;
  margin-bottom: 15px;
}

#brand-wrap h3.subtitle {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 15px;
}

#home-about .upcoming {
  display: flex;
  margin-bottom: 10px;
}
#home-about .upcoming img {
  width: 100px;
  height: 100px;
}

#home-about .upcoming p {
  padding: 0;
  flex: 1;
  padding-left: 5px;
  font-size: 14px;
}


header {
  padding-bottom: 20px;
  padding-top: 30px;
}

header .container,
header .container > div[class*="col"] {
    height: 100%;
}

header div[class*="col-md"] {
    display: flex;
}

#brand-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#brand-wrap h1,
#brand-wrap h3 {
    margin: 0;
}

@media screen and (max-width: 767px) {
  .gray {
    flex-direction: column-reverse;;
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

    #nav-wrap {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    #nav-wrap nav.navbar {
        margin-bottom: 0;
        margin: 0 auto;
    }
}


nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
    text-transform: uppercase;
    display: inline-block;
}

@media screen and (min-width: 992px) and (max-height: 1024px) {
  .container {
    width: 850px;
  }
}

@media screen and (max-height: 1024px) {
  .main-ui-view {
    padding: 0.5em 0;    
  }

  #brand-wrap h1.brand {
    margin-top: 5px;
    margin-bottom: 0;
  }
  #brand-wrap h3.subtitle {
    margin-top: 0;
    margin-bottom: 15px;
  }  
}



#wrap {
  display: flex;
  flex-direction: column;
}
#wrapper {
  flex: 1 1 auto;
}

@media screen and (max-width: 767px) {
  #home-about-background {
    flex-direction: column-reverse;
  }
}
