<header>
  <div id="brand-wrap">
  <div data-fittext data-fittext-max="90" data-fittext-load-delay="500" class="brand inherit-line" onbeforesave="updateSiteMetadata('title', $data)" editable-text="_site.title">
      {{_site.title || 'Name'}}
  </div>
  </div>
  <div id="nav-wrap">
    <div class="row">
      <div class="col-sm-12 mainnav-wrap" id="nav-wrap">
        <mainnav></mainnav>
      </div>
    </div>
  </div>


</header>
