<div id="splash">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img style="margin-bottom:15px;" imgcrop-modal hideshadowbox ng-model="$ctrl.images.heroImage[0]" tag="heroImage" ideal-size="1000x600" id="heroImage"/>
      </div>
    </div>
    <div class="row" id="tiles">
      <div class="col-xs-12 col-sm-4">
        <a href="#" ng-show="$ctrl.editing">
          <img imgcrop-modal ng-model="$ctrl.images.home_3_1[0]" tag="home_3_1" ideal-size="300x200" />
        </a>
        <a ui-sref="page({ slug: 'news' })" ng-hide="$ctrl.editing">
          <img imgcrop-modal ng-model="$ctrl.images.home_3_1[0]" tag="home_3_1" ideal-size="300x200" />
        </a>
        <p><a ui-sref="page({ slug: 'news' })">Coming Up</a></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="#" ng-show="$ctrl.editing">
          <img imgcrop-modal ng-model="$ctrl.images.home_3_2[0]" tag="home_3_2" ideal-size="300x200" />
        </a>
        <a ui-sref="page({ slug: 'media' })" ng-hide="$ctrl.editing">
          <img imgcrop-modal ng-model="$ctrl.images.home_3_2[0]" tag="home_3_2" ideal-size="300x200" />
        </a>
        <p><a ui-sref="page({ slug: 'media' })">Video Still</a></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="#" ng-show="$ctrl.editing">
          <img imgcrop-modal ng-model="$ctrl.images.home_3_3[0]" tag="home_3_3" ideal-size="300x200" />
        </a>
        <a ui-sref="page({ slug: 'gallery' })" ng-hide="$ctrl.editing">
          <img imgcrop-modal ng-model="$ctrl.images.home_3_3[0]" tag="home_3_3" ideal-size="300x200" />
        </a>
        <p><a ui-sref="page({ slug: 'gallery' })">Photos</a></p>
      </div>
    </div>
  </div>
</div>
