*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none; }

[contenteditable], [contenteditable]:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: text; }

#nav-wrap .navbar-nav.mainnav {
  display: flex;
  justify-content: center;
}

#add-page {
  transform: translateY(115%);
}

#wrapper {
  padding-top: 10px;
}

.html-editable, .imgcrop, [contenteditable], [contenteditable]:focus {
  border: 2px dotted #cecece; }
  .text-editable:hover, .imgcrop:hover, [contenteditable]:hover, [contenteditable]:focus:hover {
    border: 2px dotted #333333; }

body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

p h1, p h2, p h3, p h4, p h5 {
  font-weight: normal;
}


.form-control {
  border-radius: 0;
  border: 2px solid #223e5d;
  background-color: #f8f7f9; }

.title {
  text-align: center;
  margin-bottom: 2em; }

.brand a:hover {
  opacity: 1; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-block; }

header {
  text-align: center;
}
  header h1 {
    margin: 0; }


#nav-wrap .navbar {
    margin-bottom: 0;
}

#nav-wrap .navbar-nav {
    float: none;
    display: inline-block;
}

nav ul li {
  font-size: 1.5em; }
  /*nav ul li:not(:last-of-type) {
    margin-right: 15px; }*/

/* .navbar-toggle {
  border-color: white;  cant do this or itll be transparent in some color tschemes -mk
} */

/* .navbar-toggle .icon-bar {
  background-color: white; cant do this or itll be transparent in some color tschemes -mk
} */

#splash {
  margin: 10px 0; }
  #splash img {
    width: 100%; }

#tiles {
  margin-top: 0px; }
  #tiles p {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
     }

footer {
  margin-top: 15px;
  text-align: center;
  padding: 1em 0;
  font-weight: 600; }
  footer p {
    margin-bottom: 0; }


/*#wrapper .btn, #wrapper .button {
  border-radius: 15px !important;
}*/

#wrapper .page-header {
  display: block;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
  margin-left: 1px;
}

@media screen and (min-width: 992px) and (max-height: 1024px) {
  .container {
    width: 850px;
  }
}

#brand-wrap .brand {
  font-size: 90px;
}

@media screen and (max-width: 767px) {
  nav ul li {
    font-size: 1em;
  }
  #brand-wrap .brand {
    font-size: 50px;
  }  
  #tiles {
    margin-top: 20px;
  }
}

@media screen and (max-height: 1024px) {

  #brand-wrap {
    padding: 0.5em 0;
  }

  #nav-wrap {
    padding: 0;
  }

  #brand-wrap h1.brand {
    font-size: 3.5em
  }
  #brand-wrap h3.subtitle {

  }  
}




#wrap {
  display: flex;
  flex-direction: column;
}
#wrapper {
  flex: 1 1 auto;
}
