<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="pencilblueApp" ng-controller="PencilBlueController">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="^no_index_name^" content="^no_index_content^">
    <title ng-bind="'EDITING ' + (_site.title || 'Page')"></title>

		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />



    ^localized_alternate^
    <link rel="shortcut icon" href="^site_icon^">
    <link rel="stylesheet" type="text/css" href="^bootstrap_css_src^">
    <link rel="stylesheet" type="text/css" href="^font_awesome_src^">
    <link rel="stylesheet" href="/public/performance/css/shared.css?v=0711">
    <link rel="stylesheet" type="text/css" href="/public/performance/css/default_edit.css?v=0711">


    <script type="text/javascript" src="/public/performance/js/oldbrowser.js"></script>

    <script type="text/javascript" src="//cdn.raygun.io/raygun4js/raygun.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script>
				window.CLOUDINARY_UPLOAD_API_URL = "^CLOUDINARY_UPLOAD_API_URL^";
        window.HELP_EMAIL = '^help_email^';
        window.GREEN_ROOM = '^wordpressSite^/green-room';
        Raygun.init('aD5iS8Rkg3bO3J5NtzoyvQ==', {
            excludedHostnames: ['localhost']
        })
        .attach()
        .withCustomData(function() {
            return {
                hash: document.location.hash,
            };
        });

    </script>

    <script type="text/javascript" src="^jquery_src^"></script>
    <script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script type="text/javascript" src="^bootstrap_js_src^"></script>
    <script type="text/javascript" src="^angular_src^"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="^angular_route_src^"></script>
    <script type="text/javascript" src="^angular_sanitize_src^"></script>
    <script type="text/javascript" src="/public/performance/js/index_edit_thirdparty.js?v=0711"></script>
    ^localization_script^

</head>

<body>
    <div id="wrap" ng-controller="EditController" ng-class="{'banner-top': _site.banner_top && _site.trial, 'banner-bottom': _site.banner_bottom && _site.trial}">
        <div ng-include="_site.banner_top" ng-show="_site.trial"></div>
        <div ng-include="_site.banner_bottom" ng-show="_site.trial"></div>
        <app-loading></app-loading>
        <div ng-include="'/public/performance/themes/partials/editPanel.html'"></div>
        <div id="mobile-warning">You must use a larger device to edit your site. Want us to make your site for you?  Email <a ng-href="mailto:^site_designer_help_email^">^site_designer_help_email^</a> and one of our consultants will be in touch!</div>
        <style dynamic-styles page-styles="_site.pageStyles"></style>
        <div ng-include="'public/performance/themes/' + _site.theme + '/header.html'"></div>
        <div id="wrapper" class="wrapper-{{stateName}}" ng-style="{'background-color': _site.backgroundColor}">
            <div class="main-ui-view" ui-view></div>
        </div>
        <div ng-include="'public/performance/themes/' + _site.theme + '/footer.html'"></div>
        ^angular^
        <script type="text/javascript" src="/public/performance/js/index_edit.js?v=0711"></script>
        <script>;
          var siteUser = ^siteUser^;
          $(function() {
            $(document).on('click', '.mainnav li a', function() {
              $('#mainNav').collapse('hide');
            });
          });
        </script>
    </div>


<script type="text/javascript">
  (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
  'https://artech.ladesk.com/scripts/track.js',
  function(e){ LiveAgent.createButton('11a00061', e); });
  </script>
</body>
</html>
