<div id="banner_top" ng-init="getTrialHoursRemaining()">
  <div>
    <span ng-bind-html="trialText" class="sitewide white"></span>
    <span><a href="/admin/subscribe" class="btn btn-primary sitewide"> UPGRADE NOW!</a></span>
  </div>
</div>
