<div>
  <div>Click the button below to upload and edit images in the homepage carousel.</div>
	<h2 style="display: inline-block;margin-top: 30px;color:black;">Add/Edit Images</h2><br>
  <div class="alert alert-info">The Runway template is perfect when you have multiple projects to promote. Use the image carousel to highlight the show you’re in, your new album, or the class you’re teaching. You can also use the carousel to feature a range of images or headshot looks on your homepage.</div>
	<div class="alert alert-danger" ng-show="carouselUploader.fileUploadError && carouselUploader.fileUploadError.length"><i class="fa fa-exclamation-triangle"></i> {{carouselUploader.fileUploadError}}</div>
	<div style="display:flex;align-items: center; margin-top: 15px; margin-bottom: 15px;">
		<button class="btn btn-primary"  ngf-select="carouselUploader.upload($files)" ngf-multiple="false" accept="/image/*" ngf-pattern="'image/*'"><i class="fa fa-picture-o"></i>Add Image</button>
		<span style="flex:1;margin-left: 10px;">* The ideal image size is 1200x700</span>
		<button class="btn btn-default pull-right" ng-click="$close()"><i class="fa fa-times"></i></button>
</div>

  <div class="progress" ng-show="carouselUploader.progressPercentage > 0">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{carouselUploader.progressPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{carouselUploader.progressPercentage}}%">
      Uploading {{carouselUploader.progressPercentage}}%...
    </div>
  </div>
  <div ngf-multiple="false" ngf-drop="carouselUploader.upload($files)" accept="/image/*" ngf-pattern="'image/*'" class="drop-area" ngf-drag-over-class="drag-over">
    <ul id="draggable-list" ui-sortable="carouselUploader.sortableOptions" ng-model="carouselUploader.ngModel.images" class="img-list draggable gallery">
      <li ng-hide="carouselUploader.ngModel.placeholders" ng-repeat="file in carouselUploader.ngModel.images track by $index" class="img-item {{context}} {{context === 'media' ? 'layout-' + layout : ''}}">
        <div class="img-actions">
					<div class="crop" title="crop" ng-show="file.thumbnail" imgcrop-modal noshowbg ideal-size="1200x700" ng-model="file"><i class="fa fa-edit"></i></div>
          <div class="remove" title="remove" ng-click="carouselUploader.deleteImage($index)"><i class="fa fa-trash"></i></div>
        </div>
        <div class="flex">
          <span class="drag-tab"><img src="/public/performance/img/drag.png" class="drag-dots"/></span>
          <img class="gallery-image" style="pointer-events: none;" ng-src="{{file.url}}" ng-if="file.url" width="200">
        </div>
        <div>
        </div>
      </li>
    </ul>
  </div>
</div>
