<div ng-if="modal === true">
  <button class="btn btn-primary sitewide" ng-click="setShowModal(true)">{{title}}</button>
  <div class="overlay" ng-if="showModal" id="edit-gallery-modal">
    <div class="modal-wrap">
      <button class="close-button btn btn-remove pull-right sitewide" style="width: auto;min-width: 0;border-radius: 0 !important;" ng-click="setShowModal(false)"><i class="glyphicon glyphicon-remove" style="color: black;"></i></button>
      <div class="overlay-body">
        <ng-include src="'/public/performance/partials/edit-gallery-media-form.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
<div ng-if="modal === false">
  <ng-include src="'/public/performance/partials/edit-gallery-media-form.html'"></ng-include>
</div>
<div class="modal fade" id="addSection" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border-radius: 0 !important;"><span aria-hidden="true" >&times;</span></button>
        <h4 class="modal-title">Add {{context === 'gallery' ? 'Album' : 'Section'}}</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="addSection()">
          <div class="form-group">
            <label for="name" class="sitewide">{{context === 'gallery' ? 'Album' : 'Section'}} Name</label>
            <input type="text" class="form-control" ng-model="newSection">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default sitewide" data-dismiss="modal" style="border-radius: 0 !important;">Close</button>
            <input type="submit" class="btn btn-primary sitewide" value="Add {{context === 'gallery' ? 'Album' : 'Section'}}" />
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
