<div id="edit-gallery-form">
  <h1 style="text-transform: capitalize;">{{title}}</h1>
  <button class="btn btn-primary sitewide" data-toggle="modal" data-target="#addSection" style="border-radius: 0 !important;">Add {{context === 'gallery' ? 'Album' : 'Section'}} <i class="glyphicon glyphicon-plus"></i></button>
  <!-- <button class="btn btn-primary" ng-click="publish(true)" style="border-radius: 0 !important;">Save Changes</button> -->
  <div class="alert alert-danger" ng-show="fileUploadError && fileUploadError.length"><i class="fa fa-exclamation-triangle"></i> {{fileUploadError}}</div>
  <div class="row" ng-repeat="(index, section) in files track by index">
    <div class="section col-sm-12">
      <div class="rearrange">
        <button ng-click="moveSection(index, -1)" class="btn btn-primary btn-small sitewide" ng-show="index !== 0" title="Move section up one spot"><i class="fa fa-chevron-up"></i></button>
        <button ng-click="moveSection(index, 1)" class="btn btn-primary btn-small sitewide" ng-show="index !== files.length - 1" title="move section down one spot"><i class="fa fa-chevron-down"></i></button>
        <h2 editable-text="section.name" onaftersave="updateSectionName()" class="section-name">{{section.name || 'Album Name'}}</h2>
      </div>
      <h3 editable-text="section.subtitle" onaftersave="updateSectionName()">{{section.subtitle || 'Section Subtitle'}}</h3>
      <div class="trash-wrap">
        <button class="btn btn-default trash sitewide" title="Delete Album" ng-click="deleteSection(index)" style="border-radius: 0 !important;"><i class="glyphicon glyphicon-trash"></i> Delete {{ context === 'gallery' ? 'Album' : 'Section'}}</button>
        <button style="border-radius: 0 !important;" ng-if="context === 'gallery'" class="btn btn-primary sitewide" accept="image/*" ngf-pattern="'image/*'" accept="/image/*" ngf-select="upload($files, section)" multiple="mulitple">Upload Photos</button>
        <button style="border-radius: 0 !important;" ng-if="context === 'media'" class="btn btn-primary sitewide" ng-click="addVideoModal(index)">Add Media</button>
      </div>
      <div ngf-multiple="true" ngf-drop="upload($files, section)" accept="/image/*" ngf-pattern="'image/*'" class="drop-area" ngf-drag-over-class="drag-over">

        <ul ui-sortable="sortableOptions" ng-model="getSectionFiles(section).files" class="img-list draggable {{context}} {{context === 'media' ? 'layout-' + layout : ''}}">
          <!-- <ng-include src="'/public/performance/partials/edit-gallery-form-list-item.html'"></ng-include> -->
          <li ng-repeat="file in getSectionFiles(section).files" class="img-item {{context}} {{context === 'media' ? 'layout-' + layout : ''}}">
            <div class="img-actions">
              <div class="crop" title="crop" ng-show="file.thumbnail" imgcrop-modal noshowbg thumbnailmode="true" ng-model="file"><i class="fa fa-crop"></i></div>
              <div class="remove" title="remove" ng-click="deleteImage(index, $index)"><i class="fa fa-trash"></i></div>
            </div>
            <div class="flex">
              <span class="drag-tab"><img src="/public/performance/img/drag.png" class="drag-dots"/></span>
              <img class="gallery-image" ngf-src="file.file" ng-if="context === 'gallery' && file.file" width="200" height="200">
              <img class="gallery-image" ng-src="{{file.thumbnail}}" ng-if="context === 'gallery' && file.thumbnail">
              <div class="edit-gallery-media" ng-if="context === 'media' && testUrl(file.url) !== 'soundcloud'">
                <div class="video-cover"></div>
                <video-element video-type="testUrl(file.url)" video="file"></video-element>
              </div>
              <div class="edit-gallery-media" ng-if="context === 'media' && testUrl(file.url) === 'soundcloud'">
                <div class="video-cover"></div>
                <soundcloud url="file.url" title="media.title"></soundcloud>
              </div>
            </div>
            <div class="progress" ng-show="file.file">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{file.progressPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{file.progressPercentage}}%">
                Uploading {{file.progressPercentage}}%...
              </div>
            </div>
            <div>
              <p onbeforesave="updateImage(file._id, 'title', $data)" editable-text="file.title" e-placeholder="Picture Title" class="editable">{{file.title || 'Picture Title'}}</p>
              <p ng-if="file.thumbnail" onbeforesave="updateImage(file._id, 'credit', $data)" editable-text="file.credit">{{file.credit || 'Credit Photographer'}}</p>
            </div>
          </li>
        </ul>
        <!-- <ul ui-sortable="sortableOptions" ng-model="section.files" ng-if="context === 'media'" class="img-list draggable {{context}}">
          <ng-include src="'/public/performance/partials/edit-gallery-form-list-item.html'"></ng-include>
        </ul> -->
      </div>
    </div>
  </div>
  <button class="btn btn-primary sitewide pull-right" ng-click="setShowModal(false)">Save And Close</button>
</div>
