<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Link</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="form-group row">
    <label for="linktext" class="col-xs-3 col-form-label">Text</label>
    <div class="col-xs-9">
      <input class="form-control" type="text" ng-model="$ctrl.text" id="linktext">
    </div>
  </div>
  <div class="form-group row">
    <label for="linkpage" class="col-xs-3 col-form-label">Select Page</label>
    <div class="col-xs-9">
<!--       <select id="linkpage" name="linkpage" class="form-control" ng-model="navItem.type" ng-options="type.route as type.text for type in $ctrl.siteData.navlinks">        
      </select> -->
      <select class="form-control" name="linkpage" id="linkpage" ng-model="$ctrl.url">
        <option value="#/home">Home</option>
        <option value="#/resume">Resume</option>
        <option value="#/news">News</option>
        <option value="#/gallery">Gallery</option>
        <option value="#/media">Media</option>
        <option value="#/contact">Contact</option>
        <option value="#/about">About</option>
      </select>
    </div>
  </div>  
  <div class="form-group row">
    <label for="linkurl" class="col-xs-3 col-form-label">Or URL</label>
    <div class="col-xs-9">
      <input class="form-control" type="text" ng-model="$ctrl.url" id="linkurl" placeholder="http://example.com">
    </div>
  </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
