<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{::$ctrl.metadata.header}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <p class="instruction-copy" ng-bind-html="::$ctrl.metadata.placeholder"></p>
    <text-angular ng-show="$ctrl.component_type=='html'" ng-model="$ctrl.html"></text-angular>
    <input class="form-control" type="text" ng-if="$ctrl.component_type=='text'" ng-model="$ctrl.text" placeholder="{{$ctrl.metadata.placeholder}}"/>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.saveCustomText()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
