<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{::$ctrl.instructionHeader || 'Click to Upload Image'}}
        <div class="pull-right" ng-click="$ctrl.cancel()" style="cursor:pointer;"><i class="fa fa-close"></i></div>
    </h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="instruction-copy sitewide">{{::$ctrl.instruction}}</div>
    <br>
    <div class="imgcrop-moodal__croppie-container" style="text-align:center;" ng-show="$ctrl.mobileUpload">
      <strong>Mobile</strong>
      <croppie class="croppiewindow" ng-model="$ctrl.mobileImage" viewport="$ctrl.mobileViewport" thumbnailmode="{{::$ctrl.thumbnailmode}}" done="$ctrl.done({img: img})" tag="{{::$ctrl.tag}}Mobile" page-id="{{::$ctrl.pageId}}" title="{{::$ctrl.title}}" outputwidth="{{::$ctrl.outputwidth}}"></croppie>
    </div>
    <div class="imgcrop-moodal__croppie-container" style="text-align:center;">
      <strong>Desktop</strong>
      <croppie class="croppiewindow" ng-model="$ctrl.ngModel" viewport="$ctrl.viewport" thumbnailmode="{{::$ctrl.thumbnailmode}}" done="$ctrl.done({img: img})" tag="{{::$ctrl.tag}}" page-id="{{::$ctrl.pageId}}" title="{{::$ctrl.title}}" outputwidth="{{::$ctrl.outputwidth}}"></croppie>
    </div>

  <div ng-show="$ctrl.ngModel" style="background-color:rgb(132, 185, 205);padding:20px;border: 1px solid #dbdbdb;">
    <h3 style="font-size:17px;">Link Image to External Website (Optional)      </h3>
    <p>Direct visitors to another website when they click on this image. Link to your headshot photographer’s website, the homepage for a theatre company or production house, or a critic’s review.</p>
    <input class="form-control" type="text" ng-model="$ctrl.ngModel.href" placeholder="https://www.actorindex.com"/>
    <br/>
    <div>Link Opens in: </div>
    <select ng-model="$ctrl.ngModel.href_target" style="background-color:#337ab7;">
      <option value="_blank">New Window [default]</option>
      <option value="_self">Same Window</option>
    </select>
    <button class="btn btn-xs btn-primary" style="margin-top:-1px;" ng-click="$ctrl.updateLink($ctrl.ngModel)">Update Link</button>
  </div>
</div>
