<form name="uploadForm" style="order:3;">

  <div class="alert alert-info pro-tip" ng-show="thumbnailmode">
      <i class="fa fa-icon fa-info-circle"></i> The zoom tool applies only to the thumbnail image in your gallery. Visitors will be able to view uncropped images when they click on the thumbnail image.
  </div>
  <div class="alert alert-danger" ng-show="fileUploadError && fileUploadError.length"><i class="fa fa-exclamation-triangle"></i> {{fileUploadError}}</div>
  <button class="btn btn-primary" ng-hide="thumbnailmode" type="file" name="file" ngf-select="uploadFile($files[0], $invalidFiles[0])" ngf-pattern="'image/*,application/pdf'" accept="image/*,application/pdf" ngf-max-size="20MB">Choose New Image</button>
  <button class="btn btn-danger" ng-show="ngModel" ng-click="delete()">Delete</button>
  <button class="btn btn-green" ng-show="ngModel" ng-click="update()">Save Image</button>

  <!-- <input type="text" style="width:300px;margin:0 auto;" class="form-control" placeholder="Caption" name="alt" ng-model="ngModel.title"> -->

  <div class="alert alert-warning" ng-if="errorFile.$error=='maxSize'">
    {{errorFile.name}} is too large! Please use an image smaller than 20MB.
  </div>

  <br>
  <div class="progress" ng-show="progressPercentage">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{progressPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
      Uploading {{progressPercentage}}%...
    </div>
  </div>
</form>
