<div>
    <ul class="nav navbar-nav mainnav" ng-init="setSiteStyle()"  data-fittext  data-fittext-max="20">
        <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li ng-repeat="navItem in pages" ng-if="!navItem.hidden" nav-item item="navItem" link="true" state-params="stateParams">
        </li>
    </ul>
</div>
