<nav class="navbar">
  <div class="container-fluid">
    <div id="mainNav" class="mainnav-wrap">
      <ng-include src="'/public/performance/partials/mainnavlist.html'"></ng-include>
    </div>
</nav>
