<div>
  <button resume-builder ng-model="$ctrl.resume.table" ng-show="$ctrl.editing" page-id="{{::$ctrl.pageId}}" class="btn btn-warning">Click to Add/Edit Your Resume</button>
  <div id="resume-object" ng-model="$ctrl.resume.table" multiple="true">
    <div id="personal_info" ng-model="$ctrl.resume.table.personal_info" multiple="true">
      <h1 class="text-center">{{$ctrl.resume.table.personal_info.name}}</h1>
      <p class="text-center">{{$ctrl.resume.table.personal_info.header}}</p>
      <p class="flex">
        <span><a ng-href="mailto:{{$ctrl.resume.table.personal_info.email}}">{{$ctrl.resume.table.personal_info.email}}</a><span ng-show="$ctrl.resume.table.personal_info.email"></span></span>
        <span class="hidden-xs hidden-sm">&nbsp;-&nbsp;</span>
        <span><a ng-href="tel:{{$ctrl.resume.table.personal_info.phone}}">{{$ctrl.resume.table.personal_info.phone | telephone}}</a></span>
      </p>
      <p class="flex">
        <span ng-show="$ctrl.resume.table.personal_info.height"><small>Height:&nbsp;</small>{{$ctrl.resume.table.personal_info.height}}</span>
        <span class="hidden-xs hidden-sm">&nbsp;-&nbsp;</span>
        <span ng-show="$ctrl.resume.table.personal_info.weight"><small>Weight:&nbsp;</small>{{$ctrl.resume.table.personal_info.weight}}&nbsp;lb</span>
        <span class="hidden-xs hidden-sm">&nbsp;-&nbsp;</span>
        <span ng-show="$ctrl.resume.table.personal_info.eye_color"><small>Eye Color:&nbsp;</small>{{$ctrl.resume.table.personal_info.eye_color}}</span>
        <span class="hidden-xs hidden-sm">&nbsp;-&nbsp;</span>
        <span ng-show="$ctrl.resume.table.personal_info.hair_color"><small>Hair Color:&nbsp;</small>{{$ctrl.resume.table.personal_info.hair_color}}</span>
        <span class="hidden-xs hidden-sm">&nbsp;-&nbsp;</span>
        <span ng-show="$ctrl.resume.table.personal_info.range"><small>Vocal Range:&nbsp;</small>{{$ctrl.resume.table.personal_info.range}}</span>
      </p>
    </div>
    <hr>
    <div id="experience" ng-model="$ctrl.resume.table.experience" multiple="true">
      <table class="table" ng-repeat="row in $ctrl.resume.table.experience">
        <tr>
          <th><h3>{{row.header}}</h3></th>
        </tr>
        <tr ng-repeat="(idx, data) in row.data track by $index">
          <td width="33%">{{data.title}}</td>
          <td width="33%" style="text-align: center;">{{data.role}}</td>
          <td width="33%" style="text-align: right;">{{data.credit}}</td>
        </tr>
      </table>
    </div>
    <div id="education" ng-show="$ctrl.resume.table.education.length" ng-model="$ctrl.resume.table.education" multiple="true">
      <h3 class="underline">Education</h3>
      <div ng-repeat="edu in $ctrl.resume.table.education">
        <h3>{{edu.school}}</h3>
        <h4>{{edu.degree}}</h4>
        <div ng-show="edu.data.length">
          <h4 class="underline">Studies</h4>
          <ul class="studies-list">
            <li ng-repeat="data in edu.data"><span class="underline">{{data.title}}:</span>&nbsp;<span>{{data.professors}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="special-skills" ng-show="$ctrl.resume.table.special_skills">
      <h3 class="underline">Special Skills</h3>
      <p ng-bind-html="$ctrl.resume.table.special_skills"></p>
    </div>
  </div>
</div>