<div class="social-list">  
    <form>
        <div ng-repeat="item in ::$ctrl.available_social">
            <div class="form-group">
                <label style="text-transform: capitalize;"><i class="fa fa-{{item.icon}} black"></i> {{item.name | socialFormat}}</label>
                <input class="form-control" type="text" ng-model="$ctrl.social[item.name].handle" ng-change="$ctrl.handleChanged(item.name)" ng-model-options="{debounce: 300}" placeholder="{{item.title || 'Handle'}}">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button ng-click="$ctrl.saveSocial()" class="btn btn-primary">Done</button>
            </div>
        </div>
    </form>
</div>
