<div id="social-wrap">
  <p id="social-title">Social Links:</p>
  <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
      <i class="fa fa-icon fa-info-circle"></i> Click the blue button below to add your social media accounts.
  </p>        
  <ul class="social-list">
    <a ng-href="{{(item.url + $ctrl._site.social[item.name].handle)}}" ng-repeat="item in ::$ctrl.available_social" ng-show="$ctrl._site.social[item.name].handle" target="_blank">
      <li class="social-item" ng-show="$ctrl._site.social[item.name].handle">
        <i class="fa fa-{{item.icon}} social-icon"></i>
        <span ng-show="$ctrl.showHandle">{{$ctrl._site.social[item.name].handle}}
        </span>
      </li>
    </a>
    
    <a ng-click="$ctrl.edit()" ng-show="$ctrl.editing">
        <li style="background-color:blue;" class="social-edit-button">
            <i class="fa fa-edit" style="color:white;"></i>
            <span ng-show="$ctrl.showHandle">Edit Social</span>
        </li>
    </a>
  </ul>
</div>
