<div class="video edit-wrap">
    <div class="sixteen-nine" ng-if="!$video.includeUrl" ng-click="$video.getIncludeUrl()">
      <img src="{{$video.thumbnailUrl || '/public/performance/img/video-placeholder.png'}}" class="content" ng-class="{'placeholder-thumb': !$video.thumbnailUrl}" alt="">
      <img src="/public/performance/img/youtube-icon.png" alt="" class="youtube-icon">
    </div>
    <!-- aspect ratio was added to the video could be played at a larger size -->
    <div class="aspect-ratio" ng-if="$video.includeUrl">
      <ng-include src="$video.includeUrl"></ng-include>
    </div>
</div>
