
<div style="margin-top: 0px;">

  <h3 style="margin-top : 0px;" class="text-center">Welcome!</h3>
  <h4 class="text-center">Want help creating your site?  Set up a quick consultation with a member of our team and we'd be happy to create something for you.</h4>
  <div style=" display:flex;justify-content: space-between;">
    <button style="width: 200px;" class="buildMySite green" ng-click="closeThisDialog(true)">Yes</button>
    <button style="width: 200px;" class="buildMySite green" ng-click="closeThisDialog()">No thanks, I'll do it myself!</span></button>
  </div>


</div>
