
<div style="margin-top: 20px;">

  <h3 class="text-center">Awesome!  We'll just need a few things first:</h3>

<!--   <div ngf-multiple="true" ngf-drop="upload($files, section)" accept="/image/*" ngf-pattern="'image/*'" class="drop-area" ngf-drag-over-class="drag-over">
  </div> -->

  <form name="buildForm">
    <!-- <button class="buildMySite green" ngf-pattern="'image/*,application/pdf'" style="margin-bottom:10px;" ng-model="buildItForYou.files" ngf-max-size="10MB" multiple="multiple" ngf-select="uploadFiles($files)">Upload Files (Photos, Resume)</button>

    <ul style="font-size:8px;">
      <li ng-repeat="file in buildItForYou.filenames">{{file.name}} {{file.percentage}}%</li>
    </ul> -->
    <!-- <div style="font-size:8px;" ng-repeat="url in buildItForYou.urls">{{url}}</div> -->

    <div class="form-group">
      <label for="name">Name(required)</label>
      <input type="text" name="name" ng-model="buildItForYou.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email(required)</label>
      <input type="email" name="email" ng-model="buildItForYou.email" class="form-control">
    </div>
    <div class="form-group">
      <label for="name">Upload a Photo(required)</label><br>
      <button class="btn btn-default" ng-model="buildItForYou.photo" ngf-accept="'image/*'" ngf-max-size="10MB" multiple="multiple" ngf-select="uploadFiles($files, 'photo')">{{buildItForYou.photo.length ? 'Done!' : 'Upload'}}</button>
      <div class="alert alert-danger" ng-show="fileUploadError && fileUploadError.length"><i class="fa fa-exclamation-triangle"></i> {{fileUploadError}}</div>
      <!-- <input type="text" name="name" ng-model="buildItForYou.name" class="form-control"> -->
    </div>
    <div class="form-group">
      <label for="name">Upload a Resume(required)</label><br>
      <button class="btn btn-default" ng-model="buildItForYou.resume" ngf-accept="'application/pdf'" ngf-max-size="10MB" multiple="multiple" ngf-select="uploadFiles($files, 'resume')">{{buildItForYou.resume.length ? 'Done!' : 'Upload'}}</button>
    </div>
    <div class="form-group">
      <label for="name">Anything we should know about you?(not required)</label>
      <textarea name="info" rows="5" ng-model="buildItForYou.comments" class="form-control"></textarea>
    </div>
    <!-- <textarea class="form-control" ng-model="buildItForYou.videos" placeholder="Links to your Videos" style="margin-bottom: 10px;"></textarea>
    <textarea class="form-control" ng-model="buildItForYou.links" placeholder="Links to Social Accounts" style="margin-bottom: 10px;"></textarea>
    <textarea class="form-control" ng-model="buildItForYou.comments" placeholder="Anything else you want to provide us?" style="margin-bottom: 10px;"></textarea> -->

    <button class="buildMySite green" ng-click="submit()">Submit</button>

  </form>

</div>
