<h3 ng-hide="$ctrl.gallery.length || !$ctrl.editing">Create your first gallery!</h3>    
<edit-gallery-media title="Create/Edit Gallery" images="$ctrl.gallery" modal="true" context="gallery"></edit-gallery-media>
<div class="gallery">
    <div ng-repeat="section in $ctrl.gallery track by $index" ng-if="section.images.length" class="album">
        <p class="gallery-title">{{section.name}}</p>
        <p class="gallery-subtitle">{{section.subtitle}}</p>
        <ul class="image-list">
            <li ng-repeat="image in section.images track by $index">
                <img ng-click="$ctrl.openPicModal(section, $index)"  ng-src="{{::image.thumbnail}}" alt="{{image.title}}">
            </li>
        </ul>
    </div>
</div>        
