<div id="gallery" class="container">
    <h1 class="text-center page-header">GALLERY</h1>
    <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
        <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.galleryInstructions}}
    </p>    

        
    <galleryblock editing="$ctrl.editing" page-id="$ctrl.pageId" partial='1-gallery.html'></galleryblock>
    
    <script type="text/javascript">
      $(document).on('keydown', function(e) {
        if ($('#carousel-element').is(':visible')) {
          if (e.which === 39) {
            $('#carousel-element').carousel('next');
          } else if (e.which === 37) {
            $('#carousel-element').carousel('prev');
          }
        }
      });
    </script>
</div>
