<h3 ng-hide="$ctrl.gallery.length || !$ctrl.editing">Create your first gallery!</h3>    
<edit-gallery-media title="Create/Edit Gallery" images="$ctrl.gallery" modal="true" context="gallery"></edit-gallery-media>
<ul id="gallery-list">
    <li ng-repeat="section in ::$ctrl.gallery track by $index" ng-click="$ctrl.openPicModal(section)" ng-if="section.images.length">
        <img ng-src="{{::section.images[0].thumbnail}}">
        <p>{{::section.name}}</p>
    </li>
</ul>
