.gallery-modal .ngdialog-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.ngdialog.gallery-modal .ngdialog-content {
  width: 80%;
  background-color: transparent;
  height: 80vh;
}

.ngdialog.gallery-modal .ngdialog-close:before {
  font-size: 50px;
  color: #fff;
}

#gallery #gallery-list li {
  margin: 15px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#gallery #gallery-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
#gallery #gallery-list li p {
    position: absolute;
    font-size: 18px;
    top: 0;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

#gallery #gallery-list li:hover p {
    display: block;
    background: rgba(0, 0, 0, .6);
}


.ngdialog.gallery-modal {
  padding-top: 0;
  padding-bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-element, #carousel-element .carousel-inner, #carousel-element .carousel-inner .item {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

@keyframes fadein {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

.carousel-caption.carousel-gallery-caption {
  bottom: 0;
  padding: 0;
  position: initial;
}

.carousel-caption.carousel-gallery-caption > h3 {
  margin-top: 5px;
}

.carousel-caption.carousel-gallery-caption p {
  font-size: 12px;
}

#carousel-element .carousel-inner .item small {
  position: absolute;
  bottom: 30px;
  left: 25%;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 3px;
  animation-name: fadein;
  animation-duration: 1.8s;
}

#carousel-element img {
  /* this is really sensitive. */
  max-width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 auto;
}

#carousel-element .carousel-indicators {
  background-color: black;
  display: inline-block;
  margin: 0 auto;
  width: auto;
  padding: 5px 10px;
  border-radius: 3px;
}

#carousel-element .carousel-indicators li:not(:last-child) {
  margin-right: 10px;
}

#carousel-element .carousel-control.left, .carousel-control.right {
  background: none;
  background-image: none;
  opacity: 1;
}

#carousel-element .carousel-control.left span[class*="glyphicon-chevron"], .carousel-control.right span[class*="glyphicon-chevron"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-element .carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: flex;
}


#carousel-element .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
  left: 15%;
}

#carousel-element .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left::before {
  margin-left: -5px;
}

#carousel-element .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
  right: 15%;
}

#carousel-element .carousel-control span[class*="glyphicon-chevron"]:hover {
  opacity: 0.5;
  cursor: pointer;
}
