<div class="container" id="gallery">
    <h1 class="text-center page-header">GALLERY</h1>
    <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
        <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.galleryInstructions}}
    </p>      
    
    <galleryblock editing="$ctrl.editing" page-id="$ctrl.pageId" partial='2-gallery.html'></galleryblock>
</div>
