<edit-gallery-media title="Create/Edit Gallery"  images="$ctrl.gallery" modal="true" context="gallery"></edit-gallery-media>
<div class="gallery-wrapper">
    <div ng-if="$ctrl.gallery" gallery-without-section gallery="$ctrl.gallery"></div>
</div>