#gallery {
  padding-left: 0;
  padding-right: 0;
}

#gallery button.btn {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-bottom: 1em;
  padding: 1em 0;
}

.gallery-wrapper {
    width: 70%;
    margin: 0 auto;
}

#gallery-list {
  height: 70vh;
}

#gallery-list li {
  height: 100%;
}

#gallery-list img {
  height: 80%;
}

#gallery-list h3 {
  margin-bottom: 0;
}

@keyframes fadein {
  0% {opacity: 0;}
  15% {opacity: 0;}
  100% {opactiy: 1;}
}

.gallery-wrapper img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
    font-family: 'object-fit: contain;';
}

.lSAction .lSNext, .lSAction .lSPrev {
    opacity: 1;
}

#gallery #caption {
    text-align: center;
    margin-top: 20px;
}

.lSAction > a {
  border-radius: 50%;
  background-color: black;
  background-repeat: no-repeat;
  top: 32%;
  transition: none;
  z-index: 200;
}

.lSAction > a:active {
  opacity: 0.5;
}

.lSAction > .lSNext {
  background-position: -33px 0;
}

.lSAction > .lSPrev {
  background-position: 1px 0;
}

.lSSlideOuter .lSPager.lSGallery {
  margin: 0 25px;
}
