<h3 ng-hide="$ctrl.gallery.length || !$ctrl.editing">Create your first gallery!</h3>    
<edit-gallery-media title="Create/Edit Gallery"  images="$ctrl.gallery" modal="true" context="gallery"></edit-gallery-media>
<br>
<expanding-gallery nocrop="$ctrl.nocrop" gallery="$ctrl.gallery"></expanding-gallery>
