.section-name {
	font-size: 28px;
	line-height: 1;
}

.section-subtitle {
	font-size: 24px;
}

.section-view {
	padding-top: 10px;
}
.gallery-title {
	text-transform: uppercase;
}


.gallery-subtitle  {
	font-size: 24px;
}

.gallery-overview {
	margin-top: 20px;
}