<div class="container">  
  <p class="alert alert-info pro-tip" ng-if="$ctrl.editing">
      <i class="fa fa-icon fa-info-circle"></i> {{::$ctrl.placeholdertext.galleryInstructions}}
  </p>
  <galleryblock nocrop="$ctrl.pagedata.page.metadata.nocrop" editing="$ctrl.editing" page-id="$ctrl.pageId" partial='4-gallery.html'></galleryblock>
</div>
