<div id="about">
    <div class="container">
      <h1 class="text-center page-header">About</h1>
      <div class="row">
        <div class="col-sm-4">
          <img imgcrop-modal page-id="{{::$ctrl.pageId}}" ideal-size="330x390" ng-model="$ctrl.images.aboutMainImage[0]" tag="aboutMainImage"/>
        </div>
        <div class="col-sm-8">
          <p html-editable page-id="{{::$ctrl.pageId}}" metadata="$ctrl.placeholdertext.abouteditor" ng-model="$ctrl.components.aboutHtml[0]" tag="aboutHtml" placeholder="$ctrl.placeholdertext.abouteditor.placeholder"></p>
        </div>
      </div>
    </div>
</div>
