 <div id="about">
    <div class="container">
      <h1 class="text-center page-header">About</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p html-editable page-id="{{::$ctrl.pageId}}" metadata="$ctrl.placeholdertext.abouteditor" ng-model="$ctrl.components.aboutHtml[0]" tag="aboutHtml" placeholder="$ctrl.placeholdertext.abouteditor.placeholder"></p>
        </div>
        <div id="mosaic-image-wrap" class="clearfix">
          <img id="image-one" page-id="{{::$ctrl.pageId}}"  imgcrop-modal ignoremessage="true" ng-model="$ctrl.images.about_layout_3_1[0]" alt="" tag="about_layout_3_1" ideal-size="250x425">
          <img id="image-two" page-id="{{::$ctrl.pageId}}"  imgcrop-modal ignoremessage="true" ng-model="$ctrl.images.about_layout_3_2[0]" tag="about_layout_3_2"alt="" ideal-size="235x195">
          <img id="image-three" page-id="{{::$ctrl.pageId}}"  imgcrop-modal ignoremessage="true"  ng-model="$ctrl.images.about_layout_3_3[0]" tag="about_layout_3_3"alt="" ideal-size="235x195">
          <img id="image-four" page-id="{{::$ctrl.pageId}}"  imgcrop-modal ignoremessage="true"  ng-model="$ctrl.images.about_layout_3_4[0]" tag="about_layout_3_4"alt="" ideal-size="495x195">
        </div>
      </div>
    </div>
  </div>
