  <div id="about">
    <div class="container">
      <h1 class="text-center page-header">About</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p html-editable page-id="{{::$ctrl.pageId}}" metadata="$ctrl.placeholdertext.abouteditor" ng-model="$ctrl.components.aboutHtml[0]" tag="aboutHtml" placeholder="$ctrl.placeholdertext.abouteditor.placeholder"></p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img imgcrop-modal page-id="{{::$ctrl.pageId}}" tag="aboutMainImage" ideal-size="500x325" ng-model="$ctrl.images.aboutMainImage[0]"/>
        </div>
      </div>
    </div>
  </div>
