<header class="navbar navbar-default">
  <div style="width:100%;" editable-text="_site.title" onbeforesave="updateSiteMetadata('title', $data)" ng-cloak>
    <h1 data-fittext data-fittext-max="90" data-fittext-load-delay="500" id="_site-title" class="brand inherit-line">{{_site.title || 'Name'}}</h1>
  </div>
  <div id="nav-wrap" class="mainnav-wrap">
    <mainnav></mainnav>
  </div>
</header>
