<div class="container" id="home">
  <ul id="home-images">
    <li class="hidden-xs">
      <div class="edit-wrap">
        <img hideshadowbox class="editable-area" ignoremessage="true" imgcrop-modal tag="homeImage1" ng-model="$ctrl.images.homeImage1[0]" ideal-size="280x370">
      </div>
    </li>
    <li>
      <div class="edit-wrap">
        <img hideshadowbox class="editable-area" ignoremessage="true" imgcrop-modal tag="homeImage2" ng-model="$ctrl.images.homeImage2[0]" ideal-size="280x370">
      </div>
      <div ng-show="$ctrl.editing">
        <br>
        <p>Pro tip: For optimal viewing on mobile devices, the center image on your desktop website will be your home page image on your mobile website.</p>
      </div>
    </li>
    <li class="hidden-xs">
      <div class="edit-wrap">
        <img hideshadowbox class="editable-area" ignoremessage="true" imgcrop-modal tag="homeImage3" ng-model="$ctrl.images.homeImage3[0]" ideal-size="280x370">
      </div>
    </li>
  </ul>
</div>


