body {
  font-family: 'Roman', sans-serif;
  background-color: #141212;
  color: white;
  font-size: 16px;
}

h1.brand {
  font-size: 99px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.inline {
  display: inline-block;
  margin: 0 5px;
}

.add-item-button {
  background-color: #262525;
  padding: 10px 0;
  transition: all 0.2s;
}

.add-item-button:hover {
  border-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border-color: transparent;
  background-color: inherit;
}


/*.navbar-nav {
  margin-left: -15px;
}*/

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-nav a {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
}

.navbar-collapse {
  border: none;
  border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  border-color: transparent;
}

.navbar-header {
  margin-left: 0;
  margin-right: 0;
}

header {
  background-color: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;

}

@media screen and (min-width: 1200px) {
  header {
    padding: 40px 0;
  }  
}

header h1 {  
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav a.home {
  color: #045184;
}

header .nav a li {
  display: inline-block;
  font-size: 1.5em;
  text-transform: uppercase;
  transition: all 0.3s;
}

header .nav a:not(:last-child) li {
  margin-right: 1em;
}

header .nav a li:hover {
  opacity: 0.7;
}

/*Home*/

#home ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home ul li {
  display: inline-block;
  width: 280px;
  height: 370px;
  position: relative;
}

#home ul li:not(:last-child) {
  margin-right: calc(1em + 10px);
}

#home .edit-wrap {
  position: relative;
  min-height: 100%;
}

#home-imgs {
  width: calc(100% / 3);
  height: 264px;
}

#home img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

#home .edit-wrap form {
  width: 100%;
}

#home .editable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: inline-block;
}

#home .editable-wrap {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  transform: translateY(110%);
  width: 100%;
}

#info-row {
  margin-bottom: 100px;
}

/*Footer*/

footer {
  background-color: inherit !important;
  text-align: center;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding: 20px 0;
  margin-top: 50px;


}

@media screen and (min-width: 1200px) {
  footer {
    padding: 100px 0;
  }
  
}


@media only screen and (max-width : 768px) {
  #page-title {
    text-align: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  header .nav a:not(:last-child) li {
    margin-right: 0;
    padding: 10px 15px;
  }

  footer {
    padding: 10px 0;
  }
  

}

@media screen and (max-width: 767px) {

  h1.brand {
    font-size: 50px;
  }  
  .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-left: 0;
  }

  .navbar-collapse li:active {
    background-color: white;
    color: black;
  }

  .navbar-nav {
    margin-left: 0;
  }

  footer {
    height: auto;
    
  }
  #home ul li:not(:last-child) {
    margin-right: 0;
  }

  .main-ui-view {
    margin-top: 2em;
  }

  header {
    padding: 0;
  }

}

#contact form input[type="submit"]:not(.sitewide) {
  background-color: #ccc;
}

/*#contact form input[type="submit"]:not(.sitewide), home, #about, #contact, #custom, #gallery, #videos, #news, #resume button:not(.sitewide) {
  color: black !important;
}*/

/*#wrapper .btn, #wrapper  .button {
  border-radius: 8px !important;
}*/


#wrap {
  display: flex;
  flex-direction: column;
}
#wrapper {
  flex: 1 1 auto;
}

.main-ui-view {
  margin-top: 2em;
}

#contact form input[type="submit"] {
  color: black;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .mainnav-wrap .mainnav li {
    /* font-size: 16px;  commenting because nav bar breaks on 2nd line  */
  }  
}
@media screen and (max-width: 767px) {
  #page-title {
    max-width: 100vw;
    font-size: 80px;
  }
}

@media screen and (min-width: 992px) and (max-height: 1024px) {
  .container {
    width: 850px;
  }
}
