$src: '//d29iiyus81dyat.cloudfront.net';
  
@font-face {
  font-family: 'Amaranth';
  src: url('#{$src}/Amaranth/Amaranth-Regular.ttf');
}

@font-face {
  font-family: 'Abril Fatface';
  src: url('#{$src}/Abril_Fatface/AbrilFatface-Regular.ttf');
}

@font-face {
  font-family: 'Actors Access';
  src: url('#{$src}/Actors_Access/actors_access.woff');
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$src}/Cabin/Cabin-Regular.ttf');
}

@font-face {
  font-family: 'Didact Gothic';
  src: url('#{$src}/Didact_Gothic/DidactGothic.ttf');
}

@font-face {
  font-family: 'Droid Sans';
  src: url('#{$src}/Droid_Sans/DroidSans.ttf');
}

@font-face {
  font-family: 'Droid Serif';
  src: url('#{$src}/Droid_Serif/DroidSerif.ttf');
}

@font-face {
  font-family: 'Francois One';
  src: url('#{$src}/Francois_One/FrancoisOne.ttf');
}

@font-face {
  font-family: 'Josefin Sans Regular';
  src: url('#{$src}/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Josefin Sans Bold';

  src: url('#{$src}/Josefin_Sans/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('#{$src}/Lobster/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('#{$src}/Merriweather/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$src}/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('#{$src}/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$src}/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('#{$src}/Oswald/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('#{$src}/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('#{$src}/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Bitter';
  src: url('#{$src}/Bitter-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('#{$src}/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Amatic SC';
  src: url('#{$src}/Amatic_SC/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('#{$src}/Lora/Lora-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('#{$src}/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Oxygen';
  src: url('#{$src}/Oxygen/Oxygen-Regular.ttf');
}

@font-face {
  font-family: 'PT Sans';
  src: url('#{$src}/Pt_Sans/PT_Sans-Web-Regular.ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url('#{$src}/Dosis/Dosis-Regular.ttf');
}

@font-face {
  font-family: 'Hind';
  src: url('#{$src}/Hind/Hind-Regular.ttf');
}

@font-face {
  font-family: 'Alegreya';
  src: url('#{$src}/Alegreya/Alegreya-Regular.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('#{$src}/Libre_Baskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Fjalla One';
  src: url('#{$src}/Fjalla_One/FjallaOne-Regular.ttf');
}

@font-face {
  font-family: 'Cardo';
  src: url('#{$src}/Cardo/Cardo-Regular.ttf');
}

@font-face {
  font-family: 'Gudea';
  src: url('#{$src}/Gudea/Gudea-Regular.ttf');
}

@font-face {
  font-family: 'Rancho';
  src: url('#{$src}/Rancho/Rancho-Regular.ttf');
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('#{$src}/Brandon_Grotesque/brandongrotesque_regular-webfont.woff');
}


@font-face {
  font-family: 'brandon_grotesquebold';
  src: url('https://s3.amazonaws.com/actorindex-wp/brandongrotesque_bold-webfont.woff2') format('woff2'),
       url('https://s3.amazonaws.com/actorindex-wp/brandongrotesque_bold-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url('https://s3.amazonaws.com/actorindex-wp/brandongrotesque_regular-webfont.woff2') format('woff2'),
       url('https://s3.amazonaws.com/actorindex-wp/brandongrotesque_regular-webfont.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'brandon_grotesquelight';
  src: url('https://s3.amazonaws.com/actorindex-wp/brandongrotesque_light-webfont.woff2') format('woff2'),
       url('https://s3.amazonaws.com/actorindex-wp/brandongrotesque_light-webfont.woff') format('woff');
  font-weight: normal;
}