@charset "utf-8";

@import "fonts";

$bannerTopHeight: 60px;

html,body {
	height: 100%;
	-webkit-tap-highlight-color:transparent;
}

a,a:hover,a:click, a:visited{
  outline:none;
}

.warning {
  color: red;
}

#wrap {
  min-height: 100%;
}

html,
body,
#wrap {
  min-height: 100%;
  font-size: 16px;
  position: absolute;
  width: 100%;

  &.banner-top {
    padding-top: $bannerTopHeight;
  }

  &.banner-bottom {
    padding-bottom: 66px;
  }
}

#wrapper {
  min-height: calc(100vh - 400px);
}

// footer {
//   height: 195px; //not sure why this needed
// }

p[tag="footerHtml"] {
  text-align: center;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 0 0 15px;
}

input.ng-invalid.ng-touched {
  background-color: rgba(#ec3b3b, 0.3);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe,
.aspect-ratio > div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.navbar-toggle {
  border: 1px solid #616161;
}

.navbar-toggle .icon-bar {
  background-color: #616161;
}

.wistia_embed {
  height: 100%;
}

.media-title {
  margin-bottom: 35px;
  margin-top: 12px;
}

.sweet-alert a {
  color: rgb(61, 105, 215) !important;
  text-decoration: underline;
}

.sweet-alert a:hover {
  opacity: 0.5 !important;
  color: rgb(61, 105, 215) !important;
}

.video.margin-bottom {
  margin-bottom: 60px;
}

.bg-img-buttons button.imgcrop {
  min-height: auto;
}

#gallery h2 {
  text-align: center;
}

#gallery .image-list {
  list-style: none;

  li {
    display: inline-block;
    width: calc((100% - 75px) / 5);
    margin: 7.5px;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
}

.navbar-collapse.in {
  overflow: hidden;
  max-height: none !important;
  height: auto !important;
}

#mainNav {
  padding-left: 0;
  padding-right: 0;
  border-top: none;
}


@mixin galleryListSpacing($margin, $divisor) {
  width: calc((100% - (#{$margin} * #{$divisor} * 2)) / #{$divisor});
}

#gallery #gallery-list {
  padding: 0;
  li {
    @include galleryListSpacing(15px, 5);
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  #gallery .image-list li {
    width: calc((100% - 60px) / 4);
  }

  #gallery #gallery-list li {
    @include galleryListSpacing(15px, 4);
  }
}
@media screen and (min-width: 800px) {
  .mainnav {
    // max-width: 800px;
    margin: 0 auto;
    display: block;
  }

  .navbar-nav {
    float: none;
  }
}


@media screen and (max-width: 767px) {

  .nav.navbar-nav.mainnav {
    max-width: none;
    flex-direction: column;
  }

  #gallery .image-list li {
    width: calc((100% - 45px) / 3);
  }

  #gallery #gallery-list li {
    @include galleryListSpacing(15px, 3);
  }
}
@media screen and (max-width: 600px) {
  #gallery .image-list li {
    width: calc((100% - 30px) / 2);
  }

  #gallery #gallery-list li {
    @include galleryListSpacing(15px, 2);
  }
}

.ngdialog-close {
  color: black !important;
  position: absolute;
  top: 10px;
  right: 20px;
}

.add-video-dialog .ngdialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  z-index: 10000;
  padding: 2em;
  border-radius: 0px;
  transform: translate(-50%, -50%);
}

.ngdialog.ngdialog-theme-default {
  padding-top: 5vh;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  display: block;
  width: 80%;
  background-color: white;
  height: 90vh;
  overflow: auto;
}

.ngdialog-content h1,
.ngdialog-content h2,
.ngdialog-content h3,
.ngdialog-content h4,
.ngdialog-content h5 {
  /*color: black !important;*/
}

.ngdialog-content .btn.btn-success {
  background-color: #5cb85c !important;
}

.ngdialog-content .btn.btn-primary {
  background-color: #337ab7;
}

.ngdialog-content .btn {
  width: auto;
}


/* Remove gutters from bootstrap rows */

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

$src: '//d29iiyus81dyat.cloudfront.net';

@font-face {
  font-family: 'imdb';
  src: url('#{$src}/imdb.woff?pxgy1n') format('woff');
  // src: url('#{$src}/imdb.eot?pxgy1n');
  // src: url('#{$src}/imdb.eot?#iefixpxgy1n') format('embedded-opentype'), url('#{$src}/imdb.woff?pxgy1n') format('woff'), url('#{$src}/imdb.ttf?pxgy1n') format('truetype'), url('#{$src}/imdb.svg?pxgy1n#imdb') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social-list [class^="icon-"],
.social-list [class*=" icon-"] {
  font-family: 'imdb';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-list a {
  text-decoration: none !important;
}

// .fa-imdb {
//   font-family: 'imdb';
//   display: block;
// }

// .fa-imdb:before {
//   content: "\e600";
// }

@media screen and (max-width: 767px) {
  .navbar-header button {
    width: auto;
  }
  .navbar {
    width: 100%;
  }
  .navbar-nav {
    display: block;
    width: 100%;
    margin: 0;
    float: none;
  }
  .navbar-nav li {
    width: 100%;
    text-align: center;
    display: block;
  }
  .navbar-nav li a {
    padding: 0.5em 0;
  }
  .container>.navbar-header,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container-fluid>.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  #banner_top .btn {
    width: 80%;
    padding: 1em 0;;
  }

  .flex {
    flex-direction: column;
  }
}

#nav-wrap {
  position: relative;
}

.mainnav-wrap .mainnav {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & > li {
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    flex: 1 1 auto;

    a {
      width: 100%;
    }

    a:hover {
      opacity: 1;
    }
  }
}

.mainnav li {
  float: none;
}
.mainnav-wrap .mainnav li {
  float: left;
}
#nav-wrap {
  overflow: hidden;
}
#mobile-nav {
  .container-fluid {
    padding: 0;
  }
  .mainnav li {
    text-align: center;
    // border-bottom: 1px solid #ccc;
    text-transform: uppercase;
  }
}

#showpage-open-close-menu { display: none; }


// #mobile-nav-button-wrap {
//   background-color: #393939;
// }

.mm-page__blocker {
  cursor: pointer;
  transition: background-color 0.2s;
}

@media (max-width: 767px) {
  .mainnav-wrap { display: none; }
  #mobile-nav .mainnav-wrap { display: block; }
  #showpage-open-close-menu { display: initial; }
  #mobile-nav .navbar-header { display: none; }
  .navbar { min-height: 0; }
}

.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}

.mainnav > li .opaque {
  opacity: 0.2;
}

.no-margin-top {
  margin-top: 0;
}

.linky {
  cursor: pointer;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-edit-button i {
  margin-right: -4px;
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
}

#wrapper .button,
#wrapper .btn {
  padding: 10px;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 200px;
  transition: all 0.3s;
  &.btn-admin {
    display: none;
  }
}

#wrapper .page-header {
  /* BY DEFAULT DO NOT SHOW HEADER! */
  display: none;
  text-transform: uppercase;
  border-bottom: none;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.main-ui-view.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}

.main-ui-view.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}

.margin-20 {
  margin: 20px;
}

.row.table-row {
  display: table;
}

.row.table-row > [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

[html-editable] {
  & > :first-child {
    margin-top: 0 !important;
  }

  & p, & h1, & h2, & h3, & h4, & h5, span {
    word-wrap: break-word;
  }
}


i.social-icon {
  position: relative;
}

i.social-icon > a {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0;
  left: 0;
  height: 100%;
}



  #social-wrap ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0; }
    #social-wrap ul a:not(:last-of-type) {
      margin-right: 1em; }
    #social-wrap ul li {
      width: 40px;
      height: 40px;
      margin: 0 2px;
      color: #202020;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3em; }

.fullscreen-lb {
  i {
    color: black !important;
    margin: 10px 20px;
  }

  img {
    width: 100%;
  }
}

$backstageSize: 25px;
@font-face {
  font-family: 'icomoon';
  src: url('/public/performance/img/backstage_icon.woff?4a1vg0') format('woff');
  font-weight: normal;
  font-style: normal;
}
.fa-backstage, .fa-actors_access {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-backstage {
  width: $backstageSize;
  height: $backstageSize;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: "\e900";
  }

  // &:not(.black) {
  //   background-image: url('/public/performance/img/backstage_icon.png');
  // }

  // &.black {
  //   background-image: url('/public/performance/img/backstage_icon_black.png');
  // }
}

.fa-actors_access {
  width: $backstageSize;
  height: $backstageSize;
  font-family: 'Actors Access';
  font-size: 1.25em;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "\61";
    height: 15px;
  }

  // &:not(.black) {
  //   background-image: url('/public/performance/img/actor_access_icon.png');
  // }
  //
  // &.black {
  //   background-image: url('/public/performance/img/actor_access_icon_black.png');
  // }
}

#social-title {
  display: none;
}

.ta-bind p, [html-editable] p {
  margin-bottom: 2px !important;
}

.sixteen-nine {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover .youtube-icon {
    opacity: 0.75;
  }

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (51 / 100) * 100%;
  }

  .youtube-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100px !important;
    height: 70px;
    transition: opacity 0.2s;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(-15%);
  }
}

#wrapper div[text-angular] div[text-angular-toolbar] .btn-group button.btn, #wrapper div[text-angular] div[text-angular-toolbar] .btn-group span {
  min-width: auto;
}

#wrapper div[text-angular] div[text-angular-toolbar] .btn-group span {
  padding: 6px 0 0 0;
}

#custom {
  img {
    width: 100%;
  }
}

header.navbar {
  a:visited, a:focus, a:hover, a:active {
      text-decoration: none;
  }
}

blockquote {
  border-left: none !important;
}


@media screen and (min-width: 768px) {
	.row.is-flex {
    display: flex;
    flex-wrap: wrap;
	}
	.row.is-flex > [class*='col-'] {
			display: flex;
      flex-direction: column;     
      /* https://stackoverflow.com/questions/29986668/flex-wrap-not-working-as-expected-in-safari */ 
      margin:0 -.3px;
	}
}

// expanding gallery

#expanding-gallery {
  ul {
    list-style: none;
  }

  .gallery-overview {
    ul {
			padding-left: 0;
      li {

        margin-bottom: 30px;
				.main-img-holder {
					flex: 2;
					img {
						width: 100%;
					}
				}
      }
    }
  }

  .gallery-section {
		@media screen and (min-width: 600px) {
			display: flex;
			justify-content: flex-start;
		}
    // align-items: center;

    p {
      margin-bottom: 5px;
    }


  }

  .details {
		flex: 1;

		@media screen and (min-width: 600px) {
			padding: 0 20px 20px 20px;
		}

    h3 {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  .section-detail {
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      @media only screen and (max-width : 767px) {
        li {
          width: 50%;
        }  
      }
    }

    img {
      height: 150px;
      margin: 5px;
    }
  }

  .gallery-section,
  .section-detail {
    img {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .overlay {
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(black, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .wrapper {
      padding: 0px 55px;
    }

    $closeOffset: 50px;
    .fa-close {
      position: absolute;
      top: $closeOffset;
      right: $closeOffset;
      z-index: 15000;
      font-size: 1.5em;
      color: white !important;
    }
  }

  // .gallery-overview.ng-enter,
  // .section-detail.ng-enter,
  .overlay.ng-enter {
    transition:0.2s linear all;
    opacity:0;
  }

  // .gallery-overview.ng-enter-active,
  // .section-detail.ng-enter-active,
  .overlay.ng-enter-active {
    opacity:1;
  }

  // .gallery-overview.ng-leave,
  // .section-detail.ng-leave,
  .overlay.ng-leave {
    transition:0.2s linear all;
    opacity:1;
  }

  // .gallery-overview.ng-leave.ng-leave-active,
  // .section-detail.ng-leave.ng-leave-active,
  .overlay.ng-leave.ng-leave-active {
    opacity:0;
  }

  #light-box-images {
    width: 70vw;
    height: 80vh;
    margin: 0 auto;
    padding: 10px 0;

    & div, & li {
      height: 100%;
    }

    li {
      display: flex;
      justify-content: center;
    }

    img {
      width: 80%;
      object-fit: contain;
    }
  }
}


.flex-column-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.slick-slide {
  outline: none !important;
}

.slick-next,
.slick-prev {
  height: 40px !important;
  width: 40px !important;
  z-index: 1000;

  &:before {
    font-size: 40px !important;
  }
}

[ng-click] {
  cursor: pointer;
}


.btn-green {
  background-color: #4c8f41;
  color: #ffffff;
}

.coverbackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.inherit-line {
  line-height: inherit!important
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .mainnav {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    // a {
    //   font-size: 18px;
    // }
  }
}