//node-sass scss -o public/css
@import "../js/thirdparty/sweetalert/dist/sweetalert";
@import "../js/thirdparty/ui-bootstrap-custom-build/ui-bootstrap-custom-2.1.3-csp";
@import "../js/thirdparty/croppie/croppie";
@import "../js/thirdparty/ng-dialog/css/ngDialog";
@import "../js/thirdparty/ng-dialog/css/ngDialog-theme-default";
html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  color: #4c8f41;
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #4c8f41;
  border-color: #4c8f41;
  &:disabled {
    background-color: lighten(#4c8f41, 20%);
    border-color: lighten(#4c8f41, 20%);
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #b2d1b5;
  border-color: #8cb08f;
}

.editable-wrap {
  width: 100%;
}


@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(black, 0.75);
  z-index: 1000;

  .loading {
    background-color: white;
    // width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    text-align: center;
    border-radius: 5px;

    .loading-icon {
      animation: loading 2s infinite linear;
    }
  }
}

#top_menu {
  margin-bottom: 0;
  display: none;
}

#wrap {
  top: 0;
  left: 0;
  bottom: 50px;
  right: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  > .col-md-9 {
    //the main content
    position: absolute;
    left: 200px;
    top: 0;
    margin-bottom: 50px;
    bottom: 0;
    float: none;
    right: 0;
    overflow: scroll;
    width: inherit;
    padding: 10px;
  }
}

footer {
  background-color: white;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  right: 0;
  & > div {
    padding: 0 10px;
    margin: 0 auto;
  }
}

#nav_accordion {
  height: 100%;
  padding-top: 2em;
  display: flex;
  flex-direction: column;

  & > span:nth-child(7) {
    order: 10;
  }
}

hr {
  margin: 0;
  padding: 0;
  height: 8px;
  background-color: #4c8f41;
}

a {
  color: #4c8f41;
}

a:hover,
a:focus,
.editable-click:hover,
a.editable-click:hover {
  color: #97be7b !important;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
}

#side_menu {
  .brand-logo {
    margin: 20px 5px;
    width: 185px;
    text-align: center;
  }
  padding-left: 0;
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 0;
  background-color: #E9F3EA;
  padding: 0;
  .panel-default {
    border-color: transparent;
    box-shadow: none;
    background-color: transparent;
  }
  .panel-default:hover {
    background-color: rgba(117, 169, 80, 0.5);
  }
  .panel-default:hover a,
  .panel-default:hover span {
    color: white;
  }
  .panel-default a {
    color: inherit;
  }
}



.panel-primary > .panel-heading {
  background-color: rgba(117, 169, 80, 0.5);
}

.panel-primary {
  border-color: rgba(117, 169, 80, 0.5);
}

.panel-primary a {
  color: white;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  display: block;
	width: 100%;
	min-height: 50px;
	height: inherit;
	img {
		max-width: 100%;
	}
}

#info a {
  color: #4c8f41;
}


/*Login*/

#login_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login_body a:hover {
  color: rgba(118, 170, 81, 0.5);
}

#login_logo_wrap {
  margin-bottom: 1em;
}

#login_logo {
  width: 100%;
}

.section {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-wrap: wrap;
}

.trash-wrap {
  width: 15%;
}

.trash-wrap button {
  float: right;
}

.section h2 {
  width: 85%;
}

.section .editable-wrap {
  width: 85%;
}

#publish-button {
  width: 75%;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 1.2em;
  padding: 1em 0;
  border-radius: 5px;
}

.sub_nav {
  padding: 1em 0;
}

ul.nav-stacked {
  background-color: #b2d1b5;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

#payment-form {
  .panel {
    .panel-body {
      padding: 5px;
    }
    .panel-heading {
      border-bottom: 1px solid #E9F3EA;
      font-weight: bold;
    }
    .panel-options {
      display: flex;
      .plan-option {
        padding: 10px;
        border: 1px solid #4c8f41;
        background-color: #f8f8f8;
        margin: 10px;
        flex: 1 1 0%;
        text-align: center;
        &.selected {
          background-color: #E9F3EA;
          button {
            background-color: #4c8f41;
          }
        }
      }
    }
  }
}

#domain-message {
  .glyhpicon-cog {
    animation: loading 2s infinite linear;
  }
}


.template-description {
  margin: 20px;
  font-weight: bold;
  min-height: 40px;
  overflow: hidden;
}

#template-select img {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.howto-modal {
  &.ngdialog.ngdialog-theme-default {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .carousel-control {
    background-image: none;
    width: 10%;
  }
  .glyphicon-chevron-right, .glyphicon-chevron-left {
    color: #4d8f41;
    opacity: 1;
    outline: 0;
  }

  .carousel-control:hover, .carousel-control:focus {
    opacity: 1;
    outline: 0;
  }

  .ngdialog-close:before {
    color: #fff !important;
    font-size: 50px !important;
    top: 3px !important;
    right: 5px !important;
  }

  .carousel-caption {
    position: static;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;
  }

  .carousel-inner>.item>img {
    max-width: 80%;
    margin: 0 auto;
  }

  .ngdialog-content {
    background-color: #fff !important;
    border: 3px solid black  !important;
    border-radius: 0  !important;
    padding: 0  !important;
  }


  .getting-started-header {
    background-color: #4d8f41;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }

  #myCarousel {
    padding: 10px;
  }

  .skip {
    padding: 10px;
  }
}

.black {
  color: #000;
}
.text-underline {
  text-decoration: underline;
}

.gray {
  color: #4f4f4f;
}

#siteNotFoundHeader {
  background-color: #E9F3EA;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;

  img {
    height: 100%;
  }
}

#siteNotFound {
  h2 {
    text-transform: none;
  }
}

#banner_top {
  top: inherit;
  bottom: 50px;
}

#wrap > .col-md-9#subscibe-wrap {
  margin-bottom: 120px;
}


#mobile-warning {
  position: fixed;
  z-index: 1;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #ebcc2d;
  width: 100%;
  display: none;
}


@media screen and (max-width: 767px) {
  #mobile-warning {
    display: block;
  }
}

$src: '//d29iiyus81dyat.cloudfront.net';

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('#{$src}/Brandon_Grotesque/brandongrotesque_regular-webfont.woff');
}
