//node-sass scss -o public/css

@import "global";
@import "thirdparty";

#preview-banner {
  background-color: #B2D1B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  .btn {
    border-radius: 0;
    display: block;
    width: 500px;
  }

  .btn-primary {
    background-color: #4c8f41;
    border-color: darken(#4c8f41, 10%);
  }

  .btn-info {
    background-color: #318bd5;
    border-color: darken(#318bd5, 10%);
    margin-top: 10px;
  }
}
