//node-sass scss -o public/css
@import "global";
@import "thirdparty_edit";
.media-320,
.media-480,
.media-600,
.media-800,
.media-768,
.media-1024,
.mobile-view {
  background: #666;
}

.media-320,
.media-480,
.media-600,
.media-800,
.media-768,
.media-1024,
.mobile-view {
  margin: auto;
  background: white;
  position: relative;
  overflow: hidden;
  top: 50px
}

.media-320 {
  width: 320px;
  height: 480px
}

.media-320 .main-wrapper,
.media-320 .container {
  width: 320px
}

.media-480 {
  width: 480px;
  height: 320px
}

.media-480 .main-wrapper,
.media-480 .container {
  width: 480px
}

.media-600 {
  width: 600px;
  height: 800px
}

.media-600 .main-wrapper,
.media-600 .container {
  width: 600px
}

.media-800 {
  width: 800px;
  height: 600px
}

.media-800 .main-wrapper,
.media-800 .container {
  width: 800px
}

.media-768 {
  width: 768px;
  height: 1024px
}

.media-768 .main-wrapper,
.media-768 .container {
  width: 768px
}

.media-1024 {
  width: 1024px;
  height: 768px
}

.media-1024 .main-wrapper,
.media-1024 .container {
  width: 1024px
}

.mobile-view {
  width: 375px;
  height: 559px;
  overflow-y: scroll;
}

.mobile-view .main-wrapper,
.mobile-view .container {
  width: 375px;
  overflow: scroll;
}

.media-320 div[class^="col-sm-"],
.media-480 div[class^="col-sm-"],
.media-600 div[class^="col-sm-"] {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

.media-320 div[class^="col-md-"],
.media-480 div[class^="col-md-"],
.media-600 div[class^="col-md-"] {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

.media-320 div[class^="col-lg-"],
.media-480 div[class^="col-lg-"],
.media-600 div[class^="col-lg-"] {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

.mainnav small {
  font-size: 0.5em;
}

.mobile-view div[class^="col-sm-"] {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

.mobile-view div[class^="col-md-"] {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

.mobile-view div[class^="col-lg-"] {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

.mobile-view .navbar-header {
  float: none;
}

.mobile-view .navbar-toggle {
  display: block;
}

.mobile-view .navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.mobile-view .navbar-collapse.collapse {
  display: none!important;
}

.mobile-view .navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}

.mobile-view .navbar-nav>li {
  float: none;
}

.mobile-view .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

[ng-click] {
  cursor: pointer;
}

.green {
  background-color: #4c8f41;
  color: white;
  text-transform: uppercase;
}

.red {
  background-color: #e94d31 !important;
  color: white;
}

.editable-click,
a.editable-click {
  text-decoration: none;
  cursor: pointer;
  border: dashed 2px #cecece;
}

.editable-click:hover,
a.editable-click:hover {
  border: dashed 2px #000;
}

.add-item-button {
  background-color: #cecece;
  padding: 5px 0;
  text-align: center;
}

.edit-wrap {
  position: relative;
}

.video-delete {
  display: inline-block !important;
}

.order-button-wrap {
  position: absolute;
  &:not(.sideways) {
    top: 0;
    right: 0;
    transform: translateX(100%);
    button {
      display: block;
      &:first-child {
        margin-top: 32px;
      }
    }
  }
  &.sideways {
    display: inline-block;
  }
  button {
    width: auto;
    min-width: 0 !important;
    &.btn-admin:not(.ng-hide) {
      display: inline-block !important;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#edit-gallery-modal {
  .modal-wrap {
    width: calc(100vw - 350px);
    margin-left: 325px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(black, 0.6);
  z-index: 1;
  animation: fadeIn 0.2s linear;
  padding: 2.5vh 0;
  .modal-wrap {
    position: relative;
    height: 100%;
  }
  .close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    z-index: 10;
  }
  .overlay-body {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3em;
    color: black;
    max-height: 95vh;
    overflow: scroll;
  }
}

#hero-image-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  background-color: #ccc;
}

#hero-image-edit .btn {
  height: auto;
}

@keyframes menuSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menuSlideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes mainSlideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes mainSlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#editPanel {
   // THIS WAS THE STUFF THAT WAS CONFLICTED - 2017-06-01
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 14px;
    box-shadow: 2px 0 6px rgba(#777, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    font-family: 'Open Sans', sans-serif !important;
    background-color: white !important;
    color: black !important;
    h1,h2,h3,h4,h5 {
        text-transform: uppercase;
        font-weight: bold;}

  width: 300px;
  transition: transform 0.3s;
  // position: absolute;
  // top: 150px;
  // left: 0;
  // height: calc(100% - 170px);

  background-color: white;
  font-weight: bold;
  padding-top: 10px;
  ul {
    padding: 0;
  }
  a:not(.no-hover),
  span .fa {
    &:hover {
      color: #ccc;
    }
  }
  button.save {
    margin-bottom: 10px;
    &:first-of-type {
      background-color: black;
      color: white;
    }
  }
  .header {
    border-bottom: 1px solid #ccc;
    img {
      width: 100%;
    }
  }
  .edit-nav {
    padding: 0 20px;
    padding-top: 20px;
    span {
      height: 100%;
      padding: 0 10px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .menu-list {
    width: 300px;
    transition: transform 0.3s; // position: absolute;
    // top: 150px;
    // left: 0;
    // height: calc(100% - 170px);
    background-color: white;
    font-weight: bold;
    padding: 10px 30px 30px 30px;
    // padding-top: 10px;
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      font-size: 18px;
      display: block;
    }
    li:not(.no-hover),
    a:not(.no-hover) {
      &:hover {
        //color: #ccc;
      }
    }
    &:not(#main) {
      &.ng-hide-remove {
        animation-name: menuSlideIn;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
      &.ng-hide-add {
        animation-name: menuSlideOut;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
    &#main {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Brandon Grotesque', 'Arial', Times, serif;
      li {
        font-size: 16px;
      }
      a {
        span {
          margin-left: 10px;
        }
      }
      &.ng-hide-add {
        animation-name: mainSlideOut;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
      &.ng-hide-remove {
        animation-name: mainSlideIn;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
    .main-list {
      text-align: justify;
      .title {
        text-transform: uppercase;
        font-family: 'brandon_grotesquebold', Arial, Helvetica, sans-serif;
      }
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 1em;
      width: 100%;
      li {
        margin-bottom: 10px;
        background-color: #e1ebd9;
        padding: 10px;
        position: relative;
        cursor: pointer;
        .indicator {
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
        }
        > div {
          margin-bottom: 10px;
        }
      }
    }
  }
}

#pages {
  ul {
    &:first-of-type {
      margin-top: 10px;
      margin-bottom: 0;
    }
    li {
      text-transform: capitalize;
      background-color: white;
      padding: 10px;
      .editable-click {
        border: none;
        &:hover {
          border: none;
        }
      }
      .fa-bars {
        color: #ccc;
        cursor: move;
        margin-right: 10px;
      } // &.ui-sortable-helper {
      //   box-shadow: 2px 2px 6px rgba(#777, 0.7);
      // }
      .fa-trash {
        cursor: pointer;
      }
    }
  }
}

#layout {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      background-color: #E9F3EA;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
      p {
        margin-top: 5px;
      }
      img {
        width: 80%;
      }
    }
  }
}

#colors {
  display: flex; // justify-content: center;
  // align-items: center;
  flex-direction: column;
  padding: 0 20px;
  #color-palettes {
    width: 100%;
  }
  .palette-image {
    position: relative;
  }
  .color-palette {
    float: left;
    width: calc((100% / 2) - 20px);
    border: 1px solid #474747;
    margin: 10px;
    &:hover {
      border: 1px solid #4c8f41;
    }
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  #custom-colors {
    width: 100%;
    text-transform: capitalize;
    h5 {
      margin-bottom: 0;
    }
    small {
      color: #aaa;
      cursor: pointer;
      margin-bottom: 15px;
      display: inline-block;
    }
  }
  .color-preview {
    cursor: pointer;
  }
}

#fonts {
  ul {
    margin-top: 15px;
    li {
      font-size: 16px !important;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

#editPanel .row,
#editPanel .container-fluid,
#editPanel div[class^="col-sm"] {
  height: 100%;
}

#editPanel button.save,
button.buildMySite {
  border: none;
  width: 100%;
  font-family: 'Brandon Grotesque', 'Arial';
  text-transform: uppercase;
  font-size: 16px;
}

#editPanel #current-theme {
  font-family: 'Arial' !important;
  font-weight: normal;
  padding: 0 15px;
}

#editPanel #current-theme {
  margin: 0;
}

#editPanel .save,
#editPanel button {
  height: 45px;
}

#editPanel .buttons {
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editPanel input {
  font-family: 'Helvetica Neue', 'Arial', sans-serif !important;
}

#editPanel .green {
  background-color: #4c8f41 !important;
}

#collapse-colors input {
  text-align: right;
  padding: 0 10px;
}

#collapse-colors .dl-horizontal dt {
  width: 220px;
  margin-right: 10px;
}

#color-list {
  li {
    display: inline-block;
  }
  .color-label {
    text-align: center;
    text-transform: capitalize;
    height: 2em;
    margin-bottom: 2em;
  }
  .default-button {
    width: 100%;
    margin-top: 1em;
  }
  .palette-image {
    float: left;
    width: 100px;
  }
}

// #color-list {
//   list-style: none;
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   height: 240px;
//   // justify-content: center;
//   // align-items: center;
//
//   li {
//     width: calc(100% / 2);
//     display: inline-flex;
//     // justify-content: center;
//     align-items: center;
//     margin-bottom: 10px;
//
//     &:nth-child(6) {
//       break-after: always;
//     }
//   }
// }
#theme-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .fa-check-circle-o {
    font-size: 2.2em;
  }
}

#theme-list li {
  display: inline-block;
  margin: 10px 0 10px 0;
}

#theme-list li.active {
  outline: #477dcf auto 5px;
  background-color: #d8e4d9;
}

#theme-list li:not(:last-of-type) {
  margin-right: 15px;
}

#theme-list li img {
  width: 100%;
  margin-bottom: 10px;
}

#theme-list li p {
  text-align: center;
}

#template-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#template-list li {
  display: inline-block;
}

#template-list li:hover {
  cursor: pointer;
}

#template-list li:not(:last-of-type) {
  margin-right: 15px;
}

#template-list li img {
  max-height: 100px;
}

#back-to-admin {
  color: black;
  height: 100%;
  border-right: 1px solid #ccc;
}

#back-to-admin i {
  margin-right: 0.5em;
}


/*button {
  height: 100%;
  display: inline-block;
  padding: 0 1.5em;
  margin: 0;
  border: none;
}
*/

#editPanel .buttons button.publish {
  background-color: #337ab7;
  color: white;
}

#editPanel .buttons button.publish:hover {
  background-color: rgba(51, 123, 184, 0.75);
}

#editPanel .well {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#editPanel #collapse-font .well {
  display: block;
}

#editPanel .well,
#editPanel .well .row,
#editPanel .well .row div[class^="col-sm"] {
  max-width: 100%;
}

.flex-break {
  flex-basis: 100%;
}

button.save {
  text-transform: capitalize;
  background-color: transparent;
  border-left: 1px solid #ccc;
}

button.save:hover {
  background-color: #ccc;
}

#font-form select {
  margin-right: 1em;
  width: 50%;
  display: inline-block !important;
}

#font-form .save {
  border-right: 1px solid #ccc;
  display: inline-block;
}

.dropdown {
  display: inline-block;
  height: 100%;
}

.dropdown-menu {
  top: 20%;
  color: black;
}

#font-select {
  display: flex;
  align-items: center;
}

#font-select span {
  margin-right: 1em;
}


/*#template-form {
  width: 15%;
}*/

#font-select form .form-group {
  margin: 0;
}

.video,
.image {
  position: relative;
  z-index: 1;
}

form.editable-wrap {
  display: block;
  width: 100%;
  /*margin: 0.5em 0;*/
  z-index: 100;
  position: relative;
}

form.editable-wrap .editable-controls,
form.editable-wrap .editable-controls input {
  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form.editable-wrap .editable-buttons {
  display: block;
  margin: 10px 0;
  /*display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5em 0;*/
}

form.editable-wrap .editable-buttons .glyphicon:before {
  vertical-align: -15%;
}

.color-swatch {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 0;
  float: right;
  border: 1px solid black;
}

.editable-area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.editing {
  border: 2px dotted #428bca;
  padding: 0.5em;
}

.edit-field {
  padding: 0.5em;
  margin-top: 0.5em;
}

.edit-field .edit-label {
  margin-right: 1em;
}

.editable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#home form.editable-wrap {
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
}

.font-select {
  position: relative;
  z-index: 10;
}

.font-select ul {
  transform: translateY(47%);
  background-color: #f0f0f0;
  border-radius: 3px;
  list-style: none;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.font-select ul li {
  padding: 5px;
}

.font-select ul li:hover {
  background-color: #4a9afb;
  color: white;
  cursor: pointer;
}


/*#resume-wrap {
  width: 100%;
  height: 100%;
}*/

.editable-area {
  position: absolute;
  width: 100%;
  height: 100%;
}

div.editable {
  border: 2px dotted black;
}

button.editable {
  border: none;
  color: white;
  font-style: none;
  margin: 10px;
}

button.editable:hover {
  border: none;
  color: white;
}

.editable:hover {
  border: 2px dotted #65AAFF;
}

#color-warning {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  background-color: #E94D31;
  padding: 10px;
  color: white;
  z-index: 10000;
  width: 100%;
  height: 75px;
  transition: transform 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  $borderWidth: 1px;
  #color-warning-buttons {
    span {
      width: 100px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      // box-shadow: #{$borderWidth} #{$borderWidth} 0px darken(#E94D31, 15%), inset #{$borderWidth} #{$borderWidth} 0px darken(#E94D31, 15%);
      border: 1px solid darken(#E94D31, 10%);
      border-radius: 3px;
    }
  }

  & > div.flexible-space:last-child::after {
    display: block;
    width: 125px;
    height: 100%;
    background-color: steelblue;
  }

  & > div {
    height: 100%;
    /*
            REMOVED STUFF THAT WAS CONFLICTED - 06-01-17
            display: flex;
            align-items: center;
            height: 100%;
            width: calc(100vw - 150px);
    */
  }
  &.show-warning {
    transform: translate(-50%, 0);
  }
  span {
    padding: 10px 15px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    &.show-warning {
      transform: translate(-50%, 0);
    }
    span {
      padding: 10px 15px;
      height: 100%;
      display: flex;
      align-items: center;
      &.action {
        cursor: pointer;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid darken(#E94D31, 10%);
        margin: 0 2.5px;
        box-shadow: 1px 1px 0 0 lighten(#E94D31, 5%), inset 1px 1px 0 0 lighten(#E94D31, 5%);
        &:hover {
          background-color: darken(#E94D31, 15%);
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  #color-warning {
    flex-wrap: wrap;

    #color-warning-buttons {
      flex-basis: 100%;

      span {
        display: inline-flex;
      }
    }
  }
}
@media screen and (min-width: 770px) {
  #color-warning-buttons {
    margin-right: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer form.editable-wrap {
  width: 200px;
}

.tour-tip {
  font-size: 1.2em;
}

.tour-tip p {
  margin-top: 15px;
}

.dropdown-menu {
  top: -120% !important;
}

.font-select .dropdown-menu a {
  display: inline-block;
  padding: 0;
}

.font-select .dropdown-menu a:hover {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

.colorpicker:not(.colorpicker-visible) {
  display: none;
}

.colorpicker.dropdown {
  z-index: 10000;
}

.colorpicker .dropdown-menu {
  z-index: 10000;
}

// Use side-fixed menu 4/10
// #collapse-colors dd {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 10px;
// }
//
// #collapse-colors dt {
//   text-transform: capitalize;
// }
//
// #collapse-colors .form-group {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
//
// #collapse-colors .form-group input {
//   width: calc(100% - 40px);
// }
//
// #collapse-colors .color-preview {
//   width: 50px;
//   height: 50px;
//   margin: 0 auto;
//   margin-bottom: 1em;
//   border-radius: 3px;
//   background: url('/public/performance/img/transparent.png');
//   background-position: center;
//   background-size: cover;
//   display: block;
//   cursor: pointer;
// }
//
// #collapse-font h3 {
//   margin-bottom: 0;
// }
//
// #collapse-font p {
//   margin-bottom: 2em;
// }
//
// #collapse-font h3,
// #collapse-font p {
//   margin-left: 15px;
// }
#font-list {
  list-style: none;
}

#font-list li {
  background-color: white;
  padding: 5px;
  width: calc(100% / 4 - 15px);
  height: 50px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#font-list li:not(:last-of-type) {
  margin-right: 15px;
}

#font-list li:hover {
  cursor: pointer;
}

#font-list .glyphicon-check {
  color: #6fd570;
}

.well {
  background-color: #E9F3EA;
  margin-bottom: 0;
}

.well .close-button {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 20px;
}

.well .close-button:hover {
  cursor: pointer;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.html-editable {
  border: 1px solid transparent;
  min-height: 25px;
  min-width: 100px;
}

.imgcrop {
  min-height: 1em;
  min-width: 50px;
}

.imgcrop-library img {
  margin: 4px;
}

.aspect-ratio .editable-area {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.aspect-ratio form.editable-wrap {
  transform: translateY(150%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.aspect-ratio iframe,
.aspect-ratio .wistia_embed {
  z-index: 1;
}

social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-wrap {
  display: inline-block;
  //border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

#social-title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}

.social-edit-button {
  color: white;
  background-color: blue;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-edit-button:hover {
  cursor: pointer;
}

.editable-input {
  color: black !important;
}

.social-edit-modal .ngdialog-content {
  width: 300px !important;
  height: auto !important;
  background-color: #fff !important;
}

[contenteditable],
[contenteditable]:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: text;
}

.html-editable,
.imgcrop,
.imglink,
.img-actions > .link,
.img-actions > .remove,
[contenteditable],
[contenteditable]:focus {
  border: 2px dotted #cecece;
}

.html-editable:hover,
.imgcrop:hover,
.img-actions > .link:hover,
.img-actions > .remove:hover,
[contenteditable]:hover,
[contenteditable]:focus:hover {
  border: 2px dotted #333333;
}

a.editable-empty,
a.editable-empty:hover {
  font-style: normal;
}

.modal-title {
  color: black;
}

.croppiewindow {
	display: flex;
	flex-direction: column;
	form {
		margin-top: 10px;
	}
}

.croppiewindow button.btn {
  margin: 10px;
}

.html-editable>:first-child {
  margin-top: 0;
}

#app-loading {
  &.active {
    display: flex;
  }
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

#wrap {
  width: calc(100vw - 300px);
  margin-left: 300px;
}

#wrapper {
  .btn.btn-admin {
    display: block;
    min-width: 50px;
    padding: 5px;
    border-radius: 0;
  }
}

.drag-tab {
  color: #ccc;
  display: inline-block;
}

.drag-dots {
  width: 18px;
}

.drop-area {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  background-color: #cde8d4;
  border: 3px solid #54BF71;
  border-radius: 5px;
  color: #4AA161;
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

dragover {
  opacity: 0.5;
}

.draggable {
  min-height: 350px;
  position: relative;
  flex: 1 1 0%;
  &::before {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.media::before {
    content: "";
  }
  &.gallery::before {
    content: "Drop Images Here";
  }
}

#edit-gallery-modal {
  z-index: 1001; //to go over the trial banner
  .btn,
  .button {
    border-radius: 0 !important;
    min-width: inherit;
    padding: 5px;
  }
  .overlay-body {
    height: 95vh;
    margin: 0 20px;
  }
  .imgcrop {
    min-width: inherit;
	}

	.img-actions {
		.link, .crop, .remove {
			width: 50px;
		}
	}
  .modal-backdrop {
    display: none;
  }
  .section {
    margin-top: 2em;
    padding: 10px;
    border: 2px dashed #ccc;
    position: relative;
    /*height: 65vh;*/
  }
  .upload-form {
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    padding: 10px;
    height: 100%;
  }
  $imgListMargin: 20px;
  .upload-form,
  .img-item:not(:last-of-type) {
    margin-right: $imgListMargin;
  }
  .img-item {
    margin-bottom: $imgListMargin;
  }
  .img-list {
    padding: 0 10px;
    text-align: left;
    &.layout-2 {
      flex-direction: column;
    }
  }
  @mixin galleryImageWidth($divisor) {
    width: calc((100% - (#{$imgListMargin} * #{$divisor})) / #{$divisor});
  }
  .media {
    overflow: visible;
  }
  .img-item {
    position: relative;
    list-style: none;
    background-color: white;
    transition: box-shadow 0.2s;
    margin-top: 50px;
    overflow: visible;
    display: inline-block;
    @include galleryImageWidth(4);
    &.layout-1 {
      display: inline-block;
    }
    &.layout-2 {
      display: block;
      margin: 50px auto;
    }
    &.media {
      @include galleryImageWidth(2);
    }
  }
  .img-item .gallery-image {
    width: calc(100% - 18px); // max-height: 150px;
    /*border: 1px solid black;*/
  }
  .img-item .remove {
    position: absolute;
    top: 5px;
    width: 30px;
    text-align: center;
    right: 5px;
    background-color: #01AAD5;
    color: white;
    padding: 2px;
    cursor: pointer;
  }
  .img-item .crop {
    position: absolute;
    top: 5px;
    width: 30px;
    text-align: center;
    right: 40px;
    background-color: #01AAD5;
    color: white;
    padding: 2px;
    cursor: pointer;
  }
  .img-item p {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0;
    background-color: white;
  }
  .img-item:hover {
    cursor: move;
  }
  .editable-wrap {
    display: block;
    margin-top: 0.5em;
  }
  .editable {
    border: 2px dashed #ccc;
  }
  .editable:hover {
    cursor: pointer;
  }
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
    display: none !important;
  }
}

.croppie-container .cr-viewport {
  border: 2px solid #337ab7;
}

#font-size-dropdown {
  .btn {
    border-radius: 0;
    margin-bottom: 5px;
  }
}

.current-font-size {
  background-color: tomato;
}

#template-select {
  .btn {
    display: block;
  }
  .btn-primary {
    background-color: #4c8f41;
    border-color: #4c8f41;
  }
  .btn-primary:disabled {
    background-color: #abcc93;
    border-color: #abcc93;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    background-color: #4c8f41;
    border-color: #289632;
  }
  .site-preview {
    width: 100%;
  }
}

#mobile-warning {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #ebcc2d;
  width: 100%;
  display: none;
}

.img-actions {
  position: absolute;
  top: -40px;
  right: 0;
  min-height: 30px;
  min-width: 30px;
  display: inline-block;
  z-index: 100;
  &>div {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  #mobile-warning {
    display: block;
  }
}

.sitewide {
  color: black !important;
  &.white {
    color: white !important;
  }
  &.btn {
    color: white !important;
    &.btn-default {
      background-color: #ccc;
    }
  }
}

.edit-gallery-media {
  width: 100%;
  position: relative;
  .video-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

.icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  &.icon-wistia {
    background-image: url('/public/performance/img/wistia.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.newPageModal {
  .ngdialog-content {
    height: auto !important;
    border-radius: 0;
    .container {
      width: 100%;
    }
  }
}

#color-picker {
  padding: 1em;
  background-color: darken(#E9F3EA, 10%);
}

@mixin hoverState {
  background-color: darken(#E9F3EA, 10%);
  box-shadow: inset 2px 2px 6px rgba(black, 0.15);
  border-bottom: 1px solid lighten(#E9F3EA, 10%);
  border-right: 1px solid lighten(#E9F3EA, 10%);
}

@mixin defaultState {
  background-color: #E9F3EA;
  border: 1px solid rgba(black, 0.15);
  box-shadow: 1px 1px 0 0 lighten(#E9F3EA, 5%), inset 1px 1px 0 0 lighten(#E9F3EA, 5%);
}

#color-palettes {
  .palette-image {
    width: 100%;
  }
}

.custom-nav-link {
  position: relative;
  z-index: 100;
  .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    border-radius: 0;
    z-index: -1;
    transition: all 0.2s;
  }
  &:hover {
    border: 1px solid blue;
  }
}

.palette-image {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .color-preview {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #777;
  }
}

#editPanelToggle {
  display: none;
}

.goback-button {
  margin-top: 15px;
  display: block;
}

// Small to Medium Screens
@media screen and (max-width: 1600px) {
  // #color-list {
  //   width: 100%;
  // }
}

@media screen and (max-width: 800px) {
  #color-list .palette-image {
    width: calc((100% / 3) - 20px);
  }
  #color-palettes {
    .palette-image {
      width: calc((100% / 4) - 20px);
    }
  }
}

// Small screens
@media only screen and (max-width: 767px) {
  #editPanel {
    transform: translateX(-100%);
    width: 100%;
    transition: transform 0.3s;
    padding-top: 80px;
    .menu-list {
      top: 250px;
    }
    &:not(.show) {
      overflow: visible;
    }
    &.show {
      transform: translateX(0);
      overflow: inherit;
      overflow-y: scroll;
      #editPanelToggle {
        transform: translateX(-15px);
        .fa {
          transform: rotate(-90deg);
        }
      }
    }
  }
  #editPanelToggle {
    display: block;
    position: absolute;
    z-index: 10000;
    font-size: 2em;
    border: 3px solid black;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 0;
    transform: translateX(calc(110% + 15px));
    background-color: white;
    transition: transform 0.3s;
    .fa {
      transform: rotate(0deg);
      transition: transform 0.3s;
    }
  }
  #wrap {
    margin-left: 0;
    width: 100vw;
  }
  #wrap {
    margin-left: 0;
    width: 100vw;
  }
  #color-warning {
    height: auto;
    z-index: 10000;
    span[ng-click] {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 668px) {
  #color-list .palette-image {
    width: calc((100% / 2) - 20px);
  }
  #color-palettes {
    .palette-image {
      width: calc((100% / 2) - 20px);
    }
  }
}

// Bootstrap overrides for container
$editPanelWidth: 300px;
@media (min-width: 768px) {
  .container {
    width: calc(750px - #{$editPanelWidth});
  }
}

@media (min-width: 992px) {
  .container {
    width: calc(970px - #{$editPanelWidth});
  }
}

@media (min-width: 1200px) {
  .container {
    width: calc(1170px - #{$editPanelWidth});
  }
}

.sweet-alert {
  input {
    color: black !important;
  }
}

#webuildit {
  text-transform: uppercase;
  position: absolute;
  margin: 20px 20px 15px 0;
  border: 1px solid black;
  padding: 20px;
  height: 100px;
  font-size: 14px;
  bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background-color: #4c8f41;
    color: #fff;
  }
}

.ngdialog.newPageModalForm.ngdialog-theme-default {
  padding-top: 50px;
  padding-bottom: 0;
}
.ngdialog:not(.newPageModalForm).ngdialog-theme-default {

  .ngdialog-content {
    border-radius: 0 !important;
    margin-top: 160px;
    margin-bottom: 160px;

    // text-transform: uppercase;
    // margin: 20px 20px 15px 0;
    // border: 1px solid black;
    // padding: 20px;
    // height: 50px;
    // font-size: 14px;
    // bottom: 10px;
    // display: flex;
    // align-items: center;
    // cursor: pointer;
    // background-color: #fff;
    // transition: background-color 0.3s, color 0.3s;
    // &:hover {
    //   background-color: #4c8f41;
    //   color: #fff;
    // }
  }
}

.edit-panel-navitem {
  .toggle-visibility {
    display: none;
    &.notvisible {
      //when a page is not visible
      display: inline;
      opacity: 1;
    }
  }
  &:hover {
    .toggle-visibility {
      display: inline;
    }
  }
}

.home-page-image-edit {
    @media screen and (min-width: 770px) {
        margin-left: 300px;
    }

    .progress {
        transition: all 0.3s;
    }
    .progress.ng-hide-add {
        opacity: 0;
    }

    .modal-content {
        min-height: 90vh;
        height: auto !important;
    }
}

@media screen and (min-width: 770px) {
    .modal {
        margin-left: 300px;
    }

    .modal-content {
        //height: 90vh !important;
        min-height: 90vh !important; //if you do height, it will break the html editable on short browsers, the save/cancel button goes off the modal
    }
}

#editPanel .menu-list>ul.navOrderList>li {
  flex-direction: row;
}

.imgCropModal {
	.modal-content {
		height: auto !important;
	}
}

.footer-text-wrap {
  border: 1px dashed #ccc;
  border-radius: 5px;
}

#footer-text {
  text-align: center;
}

#edit-gallery-form {
  .rearrange {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .btn {
      width: 5%;
      margin-right: 10px;
    }

    h2 {
      width: calc(95% - 10px);
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.instruction-copy {
  color: #000000;
}

.pro-tip {
  margin: 20px 0;
  text-align: justify;
  font-family: 'Brandon Grotesque', 'Arial', Times, serif !important;
}

#webuildit {
  display: none;
}

#font-list-picker-list > li {
  border: 1px solid #cecece;
  margin: 2px;
  padding: 4px;
}


.navbar-instructions {
  text-align: justify;
  b {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:2px;
    text-decoration: underline;
  }
  font-size: 12px;
}

.template-description {
  font-size: 12px;
}

img[imgcrop-modal].imgcrop.ng-empty {
  //empty image
}
$inputColor: #dadada;
.form-control::-webkit-input-placeholder {
    color:$inputColor;
}

.form-control::-moz-placeholder {
    color:$inputColor;
}

.form-control::-ms-placeholder {
    color:$inputColor;
}

.form-control::placeholder {
    color:$inputColor;
}

.upload-message {
  position:absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  right: 0;

  &:hover {
    background-color: rgba(158,158,158,0.8);
    cursor: pointer;
    display: flex;
  }
}

img.ng-not-empty + .upload-message {
  .message {
    display: none;
  }
  &:hover {
    .message {
      display: block;
    }
  }
}


.img-actions {
  .upload-message {
    display: none !important;
  }
}

[html-editable].ng-not-empty {
  text-align: justify;
}

.ui-tooltip {
  z-index: 10001;
}

[data-toggle="tooltip"] {
  cursor: pointer;
}

#full-page {
  position: relative;
}
#full-page-img-upload-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 90%;
  border: 2px dashed #ccc;
}

.imgcrop-moodal__croppie-container {
  border: 1px solid #ccc;
  margin-bottom: 1em;
  padding-top: 15px;
}

.collapsing {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  display: block !important;
  height: auto !important;
}

.collapse {
  display: inherit !important;
}