<header>
    <div class="container-fluid">
    <div id="nav-wrap" class="mainnav-wrap">
        <mainnav override="/public/performance/themes/8/mainnavlist.html"></mainnav>
      </div>
      <div id="brand-wrap">
        <div>
          <h1 class="brand"  editable-text="_site.title" onbeforesave="updateSiteMetadata('title', $data)">{{_site.title || 'Name'}}</h1>
        </div>
      </div>
    </div>
</header>
