<div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <carousel ng-model="$ctrl.components.homePageCarousel[0]" ideal-size="'800x400'"></carousel>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-12">
        <p id="homePageText" ng-show="$ctrl.editing || $ctrl.components.homePageText[0].html" html-editable ng-model="$ctrl.components.homePageText[0]" tag="homePageText" ng-bind-html="$ctrl.trustText($ctrl.components.homePageText[0].html) || 'Enter your text here'"></p>
      </div>
    </div> -->
  </div>

  <script type="text/javascript" keep="true">
		$(document).ready(function() {

			function loadScript( url, callback ) {
				var script = document.createElement( "script" )
				script.type = "text/javascript";
				if(script.readyState) {  //IE
					script.onreadystatechange = function() {
						if ( script.readyState === "loaded" || script.readyState === "complete" ) {
							script.onreadystatechange = null;
							callback();
						}
					};
				} else {  //Others
					script.onload = function() {
						callback();
					};
				}
				script.src = url;
				document.getElementsByTagName( "head" )[0].appendChild( script );
			}

			// call the function...
			loadScript('https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js', function() {
				imagesLoaded($('.slick-carousel img'), function() {
					if ($('.slick-track').length) {
						$('.slick-carousel').slick('unslick');
					}
					$('.slick-carousel').slick({
						prevArrow: '<span class="carousel-arrow"><i class="fa fa-chevron-left"></i></span>',
						nextArrow: '<span class="carousel-arrow"><i class="fa fa-chevron-right"></i></span>',
						autoplay: true,
						autoplaySpeed: 2500          
					});
				});
			});			



		});
  </script>
</div>
