header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#wrapper {
  position: relative;
}
.carousel-arrow, .add-image {
  background-color: #ccc;
  color: white;
}
.add-image {
  position: absolute;
  top: 0;
  right: 35px;
  z-index: 100;
}
.slick-carousel {
  margin: 0 auto;
}
.slick-carousel, .slick-track {
  /*height: 60vh;*/
}
.slick-img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  font-family: 'object-fit: contain;';
}
.carousel-arrow {
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-width: auto;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-arrow:first-of-type {
  left: 10px;
}
.carousel-arrow:last-of-type {
  right: 10px;
}
.carousel-arrow i:first-of-type {
  margin-left: -3px;
}
.carousel-arrow i:last-of-type {
  margin-right: -3px;
}
.modal-content {
  height: 80vh;
  padding: 20px;
}
.img-item {
  display: inline-block;
  width: calc(100% / 3);
}
.img-actions {
  position: static;
  top: auto;
  left: auto;
}
.img-actions > div {
  display: inline-block;
}
.img-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.img-list li {
  position: relative;
  z-index: 10;
  background-color: #CDE8D4;
}
.img-list::before {
  z-index: 1;
}

#brand-wrap h1 {
  text-align: center;
  font-size: 72px;
}

#homePageText {margin-top: 35px;}
