<header>
    <div class="container">
      <div class="no-padding-left col-xs-12 col-sm-8 col-md-4" id="brand-wrap">
        <div data-fittext data-fittext-max="60" data-fittext-load-delay="500">
          <h1 class="brand" editable-text="_site.title" onbeforesave="updateSiteMetadata('title', $data)">{{_site.title || helpText.title}}</h1>
          <h3 class="subtitle" editable-text="_site.subtitle" onbeforesave="updateSiteMetadata('subtitle', $data)">{{_site.subtitle || helpText.subtitle}}</h3>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 no-padding-right no-padding-left mainnav-wrap" id="nav-wrap">
        <mainnav></mainnav>
      </div>
    </div>
</header>
