
*:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}


body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}


a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
}

.navbar {
    border: none;
}

.navbar, .navbar-collapse.collapse {
    width: 100%;
    padding: 0;
}
.navbar .container-fluid {
    padding: 0;
}

.mainnav li {
    flex: 1 1 0%;
}

.mainnav #add-page {
    transform: translate(25%, 150%);
}

header {
    border-bottom: 1px solid #b1b1b1;
    background-color: #F0F0F0;
}

/*header .container,
header .container > div[class*="col"] {
    height: 100%;
}*/

header div[class*="col-md"] {
    display: flex;
}

h1.brand {
  font-size: inherit;
}
#brand-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#brand-wrap h1,
#brand-wrap h3 {
    margin: 7px 0 0 0;
    white-space: nowrap;
}

@media screen and (min-width: 992px) {
    #nav-wrap {
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }

    #nav-wrap nav.navbar {
        margin-bottom: 0;
    }
}


nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
    text-transform: uppercase;
    display: inline-block;
}


.title {
    text-align: center;
    margin-bottom: 2em;
}

footer {
    border-top: 1px solid #b1b1b1;;
    background-color: #F0F0F0;
    padding: 1em 0;
}

footer #footer-wrap {
    text-align: center;
}


/*Non-mobile*/
@media screen and (min-width: 992px) {
  header {
    min-height: 100px;
  }
}

header {
padding: 1em 0;
}

#splash {
    width: 100%;
    display: block;
    margin-bottom: -50px;
}

#wrapper .page-header {
  display: block;
}
#wrapper {
    padding-bottom: 50px;
}
.subtitle {
    font-weight: normal;
    font-size: 18px;
}




#wrap {
  display: flex;
  flex-direction: column;
}
#wrapper {
  flex: 1;
}

/* bootstrap collapse breakpoint */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar {
      min-height: auto;
      margin-bottom: 0;
    }
    
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 767px) {
  header {
    padding: 1em 0;
  }  
  #nav-wrap {
    display: none;
  }
  #brand-wrap h1,
  #brand-wrap h3 {
      margin: 0;
  }  
}

@media(min-width: 992px) {
  .nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h3.subtitle {
    margin-bottom: 30px;
  }
}
